body {
  font-size:16em;
}

h1, h2, h3, h4, h5, h6, p {  
  line-height: 1.45;
}

h1 {
  font-size:1.2em;
}
h2 {
  font-size:1em;
}
h3 {
  font-size:0.9em;
}
h4 {
  font-size:0.8em;
}
h5,h6 {
  font-size:0.75em;
}

p {
  font-size: 0.7em;
  margin-top:0;
}

#interactive-container {
  box-sizing: border-box;
  width: 100%;
  height: 480px;
  position: relative;
  background: #CCC;
  font-family: 'Open Sans', sans-serif;
  overflow: hidden;
}

#interactive-container *{
  box-sizing: border-box;
}

#interactive-container h4 {
  margin:0.5rem 0;
}

#interactive-container #content {
  position:absolute;
  width:100%;
  height:100%;
  background-color:#B4E3FA;
}

#interactive-container #content div, #interactive-container div {
  position: absolute;
  overflow:hidden;
}

#interactive-container img, #interactive-container video {
  width:100%;
}
#interactive-container video {
  height:100%;
  margin:auto;
}

#interactive-container #nav {
  left:83%;
  top:85%;
  width:16%;
}
#interactive-container #nav a {
  display:block;
  width:40%;
  float:right;
  cursor: pointer;
}
#interactive-container #nav a:first-child {
  margin-left:5%;
}

#interactive-container .script {
  display:none;
}

#interactive-container .arrow-up {
  width: 0; 
  height: 0; 
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;  
  border-bottom: 35px solid black;
}

#interactive-container #quiz-submit-btn {
  cursor:pointer;
}

.moveable {
  border:1px solid blue;
}
.selected {
  border-color:red;
}