<div id="F-itzj45f70" class="moveable lock" style="width: 100%; height: 100%; background-color: rgb(153, 248, 255); left: 0%; top: 0%;" spellcheck="false">
    <p>
        <br>
    </p>
</div>
<div id="F-ivhl01di1" class="moveable" style="left: 54.7781%; top: 14.5398%; width: 13.6364%; height: 8.09399%;">
    <img src="images/cloud.svg" alt="cloud.svg">
</div>
<div id="F-ivhl01di0" class="moveable lock" style="left: 35.0665%; top: 3.47554%; width: 13.4656%; height: 7.47826%; overflow: hidden;">
    <img src="images/cloud.svg" alt="cloud.svg">
</div>
<div id="F-ivhl01di2" class="moveable lock" style="left: 79.5871%; top: 7.73091%; width: 8.45511%; height: 4.86957%;">
    <img src="images/cloud.svg" alt="cloud.svg">
</div>
<div id="F-ivhxvbra0" class="moveable" style="left: 90.4732%; top: 5.42999%; width: 10.6583%; height: 7.5718%;">
    <img src="images/cloud.svg" alt="cloud.svg">
</div>
<div id="F-ivhmczah0" class="moveable lock el-selected" style="left: 0%; top: 54%; width: 100%; height: 66.3185%; opacity: 1;" data-options="top:24.2%;opacity:1;index:1;label:kota;duration:2;ease:null;target:F-ivhmczah0;position:btpn" spellcheck="false">
    <p><img src="images/bg-city.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/c6aecd35-dc7f-4769-bf87-472d4f4fc8fc.svg" alt="bg-city.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/c6aecd35-dc7f-4769-bf87-472d4f4fc8fc.svg"></p>
</div>
<div id="container-7" class="moveable lock" style="left: 40.1376%; top: 21.7037%; width: 22.5705%; height: 99.7389%; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="top:-17.38%;left:90%;scale:1;index:0;label:btpn;duration:2;ease:Power3.easeOut;target:container-7">
    <img src="images/btpn-building.svg" alt="btpn-building.svg">
</div>
<div id="F-ity6hsfg5" class="moveable lock" style="left: -2.63158%; top: 100%; width: 108.307%; height: 24.0209%; background-color: rgb(122, 122, 122); border-radius: 20px; opacity: 1;" spellcheck="false" data-options="top:76%;opacity:1;index:2;label:jalan;duration:1.7;ease:null;target:F-ity6hsfg5;position:btpn">
    <p>
        <br>
    </p>
</div>
<div id="container-a" class="moveable" style="left: 26.0678%; top: 42.8321%; width: 51.8809%; height: 11.7493%; opacity: 1; background-color: rgb(239, 129, 35); border-radius: 20px; padding: 2%;" spellcheck="false" data-options="opacity:0;index:5;label:judul;duration:1;target:container-a;predefined:Fade in">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="font-size: 150%; color: rgb(255, 255, 255);" data-mce-style="font-size: 150%; color: #ffffff;">Terima kasih telah mempelajari modul ini.</span></p>
</div>
<div id="container-9" class="moveable" style="width: 24.2947%; height: 45.953%; left: 31.9014%; top: 65.2456%; opacity: 1;" data-options="opacity:0;top:100%;index:4;label:staff-wave 0;duration:0.5;target:container-9;predefined:Fly in from bottom;position:2">
    <img src="images/male-staff-hi.svg" alt="male-staff-hi.svg">
</div>
<div id="container-c" class="moveable" style="left: 51.5331%; top: 63.7402%; width: 13.1661%; height: 50.1305%; opacity: 1;" data-options="opacity:0;top:100%;index:3;label:staff-wave;duration:0.5;target:container-c;predefined:Fly in from bottom;position:2">
    <img src="images/female-staff-hi.svg" alt="female-staff-hi.svg">
</div>
<!-- <a href="#/" style="text-decoration:none">
<div id="container-b" class="moveable" style="left: 91.9818%; top: 85.2%; width: 5.32915%; height: 9.92167%; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="scale:0;index:6;label:ulang;duration:0.5;target:container-b;predefined:Zoom in">
    <img src="images/arrow-right.svg" alt="arrow-right.svg">
</div>
<div id="container-e" class="moveable" spellcheck="false" style="width: 5.64263%; height: 4.69974%; left: 91.8299%; top: 81.866%; opacity: 1;" data-options="opacity:0;index:7;label:container-e;duration:0.5;target:container-e;predefined:Fade in;position:4">
    <p>
      Ulangi
        <br>
    </p>
</div>
</a> -->
<script>
var tl = new TimelineMax();

interactiveApp.timeline = tl;
  tl.addLabel('btpn');
tl.from('#container-7', 2, {top:'-17.38%',left:'90%',scale:'1',ease:'Power3.easeOut'}, '+=0');
tl.addLabel('kota');
tl.from('#F-ivhmczah0', 2, {top:'24.2%',opacity:'1',ease:'null'}, 'btpn');
tl.addLabel('jalan');
tl.from('#F-ity6hsfg5', 1.7, {top:'76%',opacity:'1',ease:'null'}, 'btpn');
tl.addLabel('staff-wave');
tl.from('#container-c', 0.5, {opacity:'0',top:'100%'}, '2');
tl.addLabel('staff-wave 0');
tl.from('#container-9', 0.5, {opacity:'0',top:'100%'}, '2');
tl.addLabel('judul');
tl.from('#container-a', 1, {opacity:'0'}, '+=0');
tl.addLabel('ulang');
tl.from('#container-b', 0.5, {scale:'0'}, '+=0');
tl.addLabel('container-e');
// tl.from('#container-e', 0.5, {opacity:'0'}, '4');

  pipwerks.SCORM.data.set("cmi.core.lesson_status", "completed");
  pipwerks.SCORM.data.save();
</script>
