<div id="container-b" class="moveable lock" spellcheck="false" style="width: 100%; height: 100%; background-color: rgb(247, 234, 146); padding: 1%;">
    <div>
        <br>
    </div>
</div>
<div id="container-g" class="moveable" style="width: 13.048%; height: 33.3913%; left: 72.0463%; top: 68.6875%; transform: matrix(-1, 0, 0, 1, 0, 0);" data-scalex="-1">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-n" class="moveable" style="width: 15.9708%; height: 50.9565%; left: 53.6124%; top: 45.4186%; opacity: 1;" data-options="target:container-n;ease:Power3.easeOut;index:1;top:52%;left:66.56%;label:container-n;duration:1;position:+=2">
    <img src="images/vendor.svg" alt="vendor.svg">
</div>
<div id="container-c" class="moveable" style="width: 13.048%; height: 33.3913%; left: 15.9447%; top: 68.9457%;">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-i" class="moveable action-resume-animation" style="left: 65.9777%; top: 30.5157%; width: 30.5643%; height: 16.4491%; background-color: rgb(125, 106, 86); border-radius: 20px; transform: matrix(1, 0, 0, 1, 0, 0); padding: 2%; opacity: 1;" spellcheck="false" data-options="predefined:Fade in;target:container-i;duration:0.5;label:container-i;index:5;opacity:0">
    <p><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Hadiah/ pemberian balas jasa dalam bentuk uang tunai dalam jumlah berapapun tidak diperkenankan.</span>
        <br>
    </p>
</div>
<div id="container-m" class="moveable" style="width: 14.7182%; height: 42.7826%; left: 17.3196%; top: 54.6603%; transform: matrix(-1, 0, 0, 1, 0, 0);" data-scalex="-1">
    <img src="images/staff-sit2.svg" alt="staff-sit2.svg">
</div>
<div id="container-9" class="moveable" style="left: 14.0237%; top: 1.88546%; width: 80.9077%; height: 12.9074%;" spellcheck="false">
    <h1>Hubungan dengan Nasabah dan Pemangku Kepentingan</h1></div>
<div id="container-7" class="moveable" style="left: 13.8666%; top: 15.1926%; width: 73.1733%; height: 12.8696%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-options="predefined:Fade in;target:container-7;duration:0.5;label:container-7;index:0;opacity:0">
    <p>Karyawan dilarang memberikan dan/atau menerima hadiah termasuk entertainment kepada atau dari nasabah, rekanan atau pejabat pemerintah yang berpotensi mempengaruhi keputusan bisnis.</p>
</div>
<div id="container-o" class="moveable action-resume-animation" style="left: 47.764%; top: 59.3342%; width: 6.89655%; height: 7.8329%; opacity: 1;" data-options="opacity:0;left:53%;index:2;label:amplop;duration:0.5;ease:Power4.easeOut;target:container-o">
    <img src="images/amplop-uang.svg" alt="amplop-uang.svg">
</div>
<div id="container-h" class="moveable action-resume-animation" style="width: 8.30721%; height: 12.7937%; left: 43.4953%; top: 63.1038%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="position:+=1;addPause:container-h;target:container-h;ease:null;duration:0.5;label:container-h;index:3;top:-100%;opacity:0">
    <img src="images/handcursor.png" alt="handcursor.png">
</div>
<div id="container-j" class="moveable el-selected" style="width: 14.9269%; height: 42.2609%; left: 17.7679%; top: 54.9649%; opacity: 1;" data-options="opacity:0;index:7;label:nolak;duration:1;target:container-j;predefined:Fade in;position:wrong">
    <img src="images/male-staff-sit3.svg" alt="male-staff-sit3.svg">
</div>
<div id="container-f" class="moveable" style="width: 16.3883%; height: 48.5217%; left: 81.4245%; top: 45.3125%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" data-scalex="-1" data-options="left:150%;opacity:1;index:4;ease:null;target:container-f;label:container-f;duration:0.5">
    <img src="images/coach.svg" alt="coach.svg">
</div>
<div id="container-8" class="moveable lock" style="left: 19.9374%; top: 76.9185%; width: 59.6033%; height: 23.3043%;">
    <img src="images/desk3.svg" alt="desk3.svg">
</div>
<div id="container-d" class="moveable" style="width: 11.1691%; height: 40.8696%; left: 13.459%; top: 73.5462%;">
    <img src="images/staff-sit4.svg" alt="staff-sit4.svg">
</div>
<div id="container-a" class="moveable" style="width: 13.048%; height: 33.3913%; left: 8.95094%; top: 91.519%;">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-p" class="moveable" style="left: 38.6189%; top: 82.4592%; width: 19.1706%; height: 7.04042%; background-color: rgb(255, 255, 255); padding: 1%; opacity: 1;" spellcheck="false" data-options="">
    <p style="text-align: center;" data-mce-style="text-align: center;"><strong>Tim Penilai Vendor</strong>
        <br>
    </p>
</div>
<div id="container-k" class="moveable lock" style="width: 10.34%; height: 17.23%; left: 44.6%; top: 25.75%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="scale:0;index:6;label:wrong;duration:1;ease:Elastic.easeOut;target:container-k">
    <img src="images/wrong.svg" alt="wrong.svg">
</div>
<!-- <div class="moveabl" id="btn-next" style="width: 5.4019%; height: 9.99335%; left: 92.5667%; top: 86.516%;z-index:2">
  <a href="#/penegakan-kode-etik" title="Selanjutnya">
    <img src="images/arrow-right.svg" alt="Next" >    
  </a>
</div> -->
<script>
var tl = new TimelineMax();

interactiveApp.timeline = tl;
tl.addLabel('container-7');
tl.from('#container-7', 0.5, {
    opacity: '0'
}, '+=0');
tl.addLabel('container-n');
tl.from('#container-n', 1, {
    top: '52%',
    left: '66.56%',
    ease: 'Power3.easeOut'
}, '+=2');
tl.addLabel('amplop');
tl.from('#container-o', 0.5, {
    opacity: '0',
    left: '53%',
    ease: 'Power4.easeOut'
}, '+=0');
tl.addLabel('container-h');
tl.from('#container-h', 0.5, {
    top: '-100%',
    opacity: '0',
    ease: 'null'
}, '+=1');
tl.addPause();
tl.addLabel('container-f');
tl.from('#container-f', 0.5, {
    left: '150%',
    opacity: '1',
    ease: 'null'
}, '+=0');
tl.addLabel('container-i');
tl.from('#container-i', 0.5, {
    opacity: '0'
}, '+=0');
tl.addLabel('wrong');
tl.from('#container-k', 1, {
    scale: '0',
    ease: 'Elastic.easeOut'
}, '+=0');
tl.addLabel('nolak');
tl.from('#container-j', 1, {
    opacity: '0'
}, 'wrong');
// tl.from('#btn-next', 1, {scale:0, ease:Bounce.easeOut}, '+=2');
</script>
