<div id="container-b" class="moveable lock" spellcheck="false" style="width: 100%; height: 100%; background-color: rgb(247, 234, 146);">
    <div>
        <br>
    </div>
</div>
<div id="container-7" class="moveable" style="width: 15.9708%; height: 50.9565%; left: 64.6024%; top: 42.7147%; opacity: 1;" data-options="target:container-7;ease:null;duration:1;label:container-7;index:1;left:100%;opacity:1">
    <img src="images/vendor.svg" alt="vendor.svg">
</div>
<div id="container-3" class="moveable" style="width: 13.048%; height: 33.3913%; left: 14.193%; top: 68.7908%;">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-1" class="moveable" style="width: 13.8831%; height: 42.4348%; left: 16.2627%; top: 54.856%; opacity: 1;" data-options="target:container-1;ease:null;duration:0.5;label:container-1;index:0;top:-100%;opacity:1">
    <img src="images/male-staff-sit2.svg" alt="male-staff-sit2.svg">
</div>
<div id="container-2" class="moveable lock" style="left: 19.9374%; top: 76.9185%; width: 59.6033%; height: 23.3043%;">
    <img src="images/desk3.svg" alt="desk3.svg">
</div>
<div id="container-5" class="moveable" style="width: 4.27975%; height: 5.3913%; left: 29.2276%; top: 81.9647%;">
    <img src="images/glass.svg" alt="glass.svg">
</div>
<div id="container-6" class="moveable" style="width: 4.27975%; height: 5.3913%; left: 63.3595%; top: 78.5489%; transform: matrix(-1, 0, 0, 1, 0, 0);" data-scalex="-1">
    <img src="images/glass.svg" alt="glass.svg">
</div>
<div id="container-8" class="moveable" style="width: 13.048%; height: 33.3913%; left: 78.841%; top: 61.6386%; transform: matrix(-1, 0, 0, 1, 0, 0);" data-scalex="-1">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-0" class="moveable action-resume-animation" style="left: 28.7005%; top: 58.6774%; width: 8.14196%; height: 10.7826%; background-color: rgb(255, 255, 255); transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-options="rotation:90;scale:0;index:2;label:container-0;duration:0.5;target:container-0;predefined:Rotate &amp; zoom in">
    <p style="text-align: center;" data-mce-style="text-align: center;"><strong><br>PKS</strong>
        <br>
    </p>
</div>
<div id="container-g" class="moveable action-resume-animation" style="width: 8.35073%; height: 12.8696%; left: 27.2311%; top: 64.6744%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="position:+=2;addPause:container-g;target:container-g;ease:null;duration:0.5;label:container-g;index:4;top:100%;opacity:0">
    <img src="images/handcursor.png" alt="handcursor.png">
</div>
<div id="container-a" class="moveable" style="left: 13.967%; top: 13.8136%; width: 73.1975%; height: 16.188%; opacity: 1;" spellcheck="false" data-options="opacity:0;index:3;label:container-a;duration:0.5;target:container-a;predefined:Fade in">
    <p>Hubungan antara BTPN dengan rekanan berdasarkan perjanjian yang wajar (arm’s length), efisiensi dan adil (fair practices). Rekanan wajib mematuhi ketentuan yang berlaku termasuk, tetapi tidak terbatas pada, peraturan ketenagakerjaan, peraturan terkait kesehatan dan keselamatan kerja serta lingkungan hidup.</p>
</div>
<div id="container-c" class="moveable lock" spellcheck="false" style="width: 100%; height: 100%; background-color: rgb(115, 79, 66); top: 0px; opacity: 1;" data-options="target:container-c;ease:null;duration:1;label:container-c;index:5;opacity:1;top:100%">
    <div>
        <br>
    </div>
</div>
<div id="container-9" class="moveable lock" style="left: 14.0237%; top: 1.88546%; width: 77.9749%; height: 12.8696%;" spellcheck="false">
    <h1>Hubungan dengan Nasabah dan Pemangku Kepentingan</h1></div>
<div id="container-e" class="moveable" style="left: 21.6956%; top: 25.3342%; width: 20.15%; height: 40.17%; opacity: 1;" data-options="predefined:Fly in from top;target:container-e;duration:0.5;label:container-e;index:7;top:-100%;opacity:0">
    <img src="images/laporan-buruk.svg" alt="laporan-buruk.svg">
</div>
<div id="container-f" class="moveable" style="width: 16.4577%; height: 34.2037%; left: 61.1089%; top: 27.6803%; opacity: 1;" data-options="predefined:Fly in from top;target:container-f;duration:0.5;label:container-f;index:8;top:-100%;opacity:0">
    <a href="#/hubungan-dengan-nasabah-dan-pemangku-kepentingan-4">
        <img src="images/laporan-baik.svg" alt="laporan-baik.svg">
    </a>
</div>
<div id="container-k" class="moveable" style="left: 41.3377%; top: 74.9918%; width: 38.8715%; height: 20.6266%; background-color: rgb(125, 106, 86); border-radius: 20px; transform: matrix(1, 0, 0, 1, 0, 0); padding: 2%; opacity: 1; overflow: hidden;" spellcheck="false" data-options="position:+=3;target:container-k;ease:null;duration:0.5;label:container-k;index:12;opacity:0;top:50%">
    <p><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Karyawan juga wajib memastikan bahwa kerjasama yang dilakukan dengan Rekanan memilki perjanjian tertulis dan nilai transaksi yang wajar. </span></p>
</div>
<div id="container-j" class="moveable" style="left: 41.0328%; top: 52.1196%; width: 39.4572%; height: 21.7391%; background-color: rgb(125, 106, 86); border-radius: 20px; transform: matrix(1, 0, 0, 1, 0, 0); padding: 2%; opacity: 1;" spellcheck="false" data-options="target:container-j;ease:null;duration:0.5;label:container-j;index:11;opacity:0;top:70%;left:70%">
    <p><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Tidak diperkenankan melakukan kerjasama dengan perusahaan yang memiliki reputasi yang kurang baik karena&nbsp; prinsip kehati-hatian dan kepatuhan harus dikedepankan.&nbsp;</span></p>
</div>
<div id="container-h" class="moveable" style="width: 19.5925%; height: 59.7911%; left: 79.4108%; top: 71.822%; opacity: 1;" data-options="position:+=3;target:container-h;ease:null;duration:0.5;label:container-h;index:10;top:100%;opacity:0">
    <img src="images/coach.svg" alt="coach.svg">
</div>
<div id="container-m" class="moveable" style="left: 3.18868%; top: 63.0426%; width: 36.0502%; height: 31.8538%; background-color: rgb(239, 129, 35); border-radius: 20px; transform: matrix(1, 0, 0, 1, 0, 0); padding: 2%;" spellcheck="false" data-options="scale:0;index:9;label:container-m;duration:0.5;target:container-m;predefined:Zoom in">
    <p><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Jika Salah satu vendor/rekanan menawarkan harga yang sangat kompetitif tetapi reputasi nya kurang baik karena memperkerjakan anak di bawah umur, apakah saya bisa menggunakan vendor tersebut karena&nbsp; reputasi dia tidak ada hubungannya dengan kita?</span></p>
</div>
<div id="container-l" class="moveable lock el-selected" style="left: 14.0237%; top: 1.88546%; width: 77.9749%; height: 12.8696%; opacity: 1;" spellcheck="false" data-options="opacity:0;index:6;label:container-l;duration:1;ease:null;target:container-l;position:-=0.5">
    <h1><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Hubungan dengan Nasabah dan Pemangku Kepentingan</span></h1></div>

<div id="container-z" class="moveable" style="width: 8.35073%; height: 12.8696%; left: 64.2311%; top: 35.6744%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="position:+=2;target:container-z;ease:null;duration:0.5;label:container-g;index:4;top:100%;opacity:1">
    <a href="#/hubungan-dengan-nasabah-dan-pemangku-kepentingan-4" title="Selanjutnya">
    <img src="images/handcursor.png" alt="handcursor.png"></a>
</div>


<script>
$('#nav-next').show();
var tl = new TimelineMax();

interactiveApp.timeline = tl;

tl.addLabel('container-1');
tl.from('#container-1', 0.5, {
    top: '-100%',
    opacity: '1',
    ease: 'null'
}, '+=0');
tl.addLabel('container-7');
tl.from('#container-7', 1, {
    left: '100%',
    opacity: '1',
    ease: 'null'
}, '+=0');
tl.addLabel('container-0');
tl.from('#container-0', 0.5, {
    rotation: '90',
    scale: '0'
}, '+=0');
tl.addLabel('container-a');
tl.from('#container-a', 0.5, {
    opacity: '0'
}, '+=0');
tl.addLabel('container-g');
tl.from('#container-g', 0.5, {
    top: '100%',
    opacity: '0',
    ease: 'null'
}, '+=2');
tl.addPause();
tl.addLabel('container-c');
tl.from('#container-c', 1, {
    opacity: '1',
    top: '100%',
    ease: 'null'
}, '+=0');
tl.addLabel('container-l');
tl.from('#container-l', 1, {
    opacity: '0',
    ease: 'null'
}, '-=0.5');
tl.addLabel('container-e');
tl.from('#container-e', 0.5, {
    top: '-100%',
    opacity: '0'
}, '+=0');
tl.addLabel('container-f');
tl.from('#container-f', 0.5, {
    top: '-100%',
    opacity: '0'
}, '+=0');
tl.addLabel('container-m');
tl.from('#container-m', 0.5, {
    scale: '0'
}, '+=0');
tl.addLabel('container-h');
tl.from('#container-h', 0.5, {
    top: '100%',
    opacity: '0',
    ease: 'null'
}, '+=3');
tl.addLabel('container-j');
tl.from('#container-j', 0.5, {
    opacity: '0',
    top: '70%',
    left: '70%',
    ease: 'null'
}, '+=0');
tl.addLabel('container-k');
tl.from('#container-k', 0.5, {
    opacity: '0',
    top: '50%',
    ease: 'null'
}, '+=3');
tl.from('#container-z', 0.5, {
    opacity: '0',
    top: '90%',
    ease: 'null'
}, '+=3');
    // tl.from('#nav-next', 1, {scale:0, ease:Bounce.easeOut}, '+=3');
</script>
