<div id="container-b" class="moveable lock" spellcheck="false" style="width: 100%; height: 100%; background-color: rgb(247, 234, 146); padding: 1%;">
    <div>
        <br>
    </div>
</div>
<div id="container-g" class="moveable" style="width: 13.048%; height: 33.3913%; left: 72.0463%; top: 68.6875%; transform: matrix(-1, 0, 0, 1, 0, 0);" data-scalex="-1">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-n" class="moveable" style="width: 15.9708%; height: 50.9565%; left: 53.6124%; top: 45.4186%; opacity: 1;" data-options="position:+=2;duration:1;label:container-n;left:66.56%;top:52%;index:1;ease:Power3.easeOut;target:container-n">
    <img src="images/vendor.svg" alt="vendor.svg">
</div>
<div id="container-c" class="moveable" style="width: 13.048%; height: 33.3913%; left: 15.9447%; top: 68.9457%;">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-r" class="moveable el-selected" style="left: 40.1499%; top: 45.2921%; width: 14.4201%; height: 45.1697%;" data-options="target:container-r;ease:Power4.easeOut;duration:1;label:karyawan;index:7;top:54.66%;left:17.32%">
    <img src="images/staff-sit6-give.svg" alt="staff-sit6-give.svg">
</div>
<div id="container-i" class="moveable action-resume-animation" style="left: 66.296%; top: 28.0924%; width: 31.6614%; height: 20.6266%; background-color: rgb(125, 106, 86); border-radius: 20px; transform: matrix(1, 0, 0, 1, 0, 0); padding: 2%; opacity: 1;" spellcheck="false" data-options="opacity:0;index:5;label:container-i;duration:0.5;target:container-i;predefined:Fade in">
    <p><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Pemberian hadiah atau entertainment dapat dilakukan sepanjang untuk membina hubungan baik (good will) dengan nilai wajar.</span>
        <br>
    </p>
</div>
<div id="container-9" class="moveable" style="left: 14.0237%; top: 1.88546%; width: 80.9077%; height: 12.9074%;" spellcheck="false">
    <h1>Hubungan dengan Nasabah dan Pemangku Kepentingan</h1></div>
<div id="container-7" class="moveable" style="left: 13.8666%; top: 15.1926%; width: 73.1733%; height: 12.8696%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-options="opacity:0;index:0;label:container-7;duration:0.5;target:container-7;predefined:Fade in">
    <p>Karyawan dilarang memberikan dan/atau menerima hadiah termasuk entertainment kepada atau dari nasabah, rekanan atau pejabat pemerintah yang berpotensi mempengaruhi keputusan bisnis.</p>
</div>
<div id="container-l" class="moveable action-resume-animation" style="left: 45.5501%; top: 47.6093%; width: 13.4796%; height: 21.4099%; opacity: 1;" data-options="target:container-l;ease:Power4.easeOut;duration:1;label:parcel;index:2;left:50%;opacity:0">
    <img src="images/parcel.svg" alt="parcel.svg">
</div>
<div id="container-h" class="moveable action-resume-animation" style="width: 8.30721%; height: 12.7937%; left: 47.4138%; top: 62.451%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="opacity:0;top:-100%;index:3;label:container-h;duration:0.5;ease:null;target:container-h;addPause:container-h;position:+=1">
    <img src="images/handcursor.png" alt="handcursor.png">
</div>
<div id="container-f" class="moveable" style="width: 16.3883%; height: 48.5217%; left: 81.4245%; top: 45.3125%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" data-scalex="-1" data-options="duration:0.5;label:container-f;target:container-f;ease:null;index:4;opacity:1;left:150%">
    <img src="images/coach.svg" alt="coach.svg">
</div>
<div id="container-8" class="moveable lock" style="left: 19.9374%; top: 76.9185%; width: 59.6033%; height: 23.3043%;">
    <img src="images/desk3.svg" alt="desk3.svg">
</div>
<div id="container-d" class="moveable" style="width: 11.1691%; height: 40.8696%; left: 13.459%; top: 73.5462%;">
    <img src="images/staff-sit4.svg" alt="staff-sit4.svg">
</div>
<div id="container-a" class="moveable" style="width: 13.048%; height: 33.3913%; left: 8.95094%; top: 91.519%;">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-p" class="moveable" style="left: 38.6189%; top: 82.4592%; width: 19.1706%; height: 7.04042%; background-color: rgb(255, 255, 255); padding: 1%; opacity: 1;" spellcheck="false" data-options="">
    <p style="text-align: center;" data-mce-style="text-align: center;"><strong>Tim Penilai Vendor</strong>
        <br>
    </p>
</div>
<div id="container-j" class="moveable" style="left: 44.6047%; top: 24.6369%; width: 10.3448%; height: 17.2324%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="target:container-j;ease:Elastic.easeOut;duration:1;label:right;index:6;scale:0">
    <img src="images/right.svg" alt="right.svg">
</div>
<!-- <div class="moveabl" id="btn-next" style="width: 5.4019%; height: 9.99335%; left: 92.5667%; top: 86.516%;z-index:2">
  <a href="#/hubungan-dengan-nasabah-dan-pemangku-kepentingan-9" title="Selanjutnya">
    <img src="images/arrow-right.svg" alt="Next" >    
  </a>
</div> -->
<script>
var tl = new TimelineMax();

interactiveApp.timeline = tl;
tl.addLabel('container-7');
tl.from('#container-7', 0.5, {
    opacity: '0'
}, '+=0');
tl.addLabel('container-n');
tl.from('#container-n', 1, {
    left: '66.56%',
    top: '52%',
    ease: 'Power3.easeOut'
}, '+=2');
tl.addLabel('parcel');
tl.from('#container-l', 1, {
    left: '50%',
    opacity: '0',
    ease: 'Power4.easeOut'
}, '+=0');
tl.addLabel('container-h');
tl.from('#container-h', 0.5, {
    opacity: '0',
    top: '-100%',
    ease: 'null'
}, '+=1');
tl.addPause();
tl.addLabel('container-f');
tl.from('#container-f', 0.5, {
    opacity: '1',
    left: '150%',
    ease: 'null'
}, '+=0');
tl.addLabel('container-i');
tl.from('#container-i', 0.5, {
    opacity: '0'
}, '+=0');
tl.addLabel('right');
tl.from('#container-j', 1, {
    scale: '0',
    ease: 'Elastic.easeOut'
}, '+=0');
tl.addLabel('karyawan');
tl.from('#container-r', 1, {
    top: '54.66%',
    left: '17.32%',
    ease: 'Power4.easeOut'
}, '+=0');
// tl.from('#btn-next', 1, {scale:0, ease:Bounce.easeOut}, '+=2');
</script>
