<div id="office" style="background:#F7EA92;width:100%;height:100%" class="moveabl"></div>

<div id="title" class="moveabl" style="left: 14.0237%; top: 1.88546%; ">
    <h1 >Hubungan dengan Nasabah dan Pemangku Kepentingan</h1>

</div>
 
<div id="pernyataan" class="moveabl" style="left: 13.9404%; top: 13.5724%; width: 55.6586%; height: 11.0648%; opacity: 1;">
    <p>  
  BTPN berkomitmen penuh menerapkan peraturan terkait Anti Pencucian Uang dan Pencegahan Pendanaan Teroris (APU dan PPT).
    </p>
</div>

<div id="pertanyaan" class="moveabl" style="left: 50.4254%; top: 26.3461%; width: 39.1732%; height: 26.2856%; opacity: 1; background: rgb(239, 129, 35); border-radius: 30px; padding: 2%; z-index: 1;">
  <p style="color:#fff">  
  Terdapat nasabah yang akan menyimpan uangnya dalam jumlah besar tetapi tidak bersedia mengungkapkan asal dana tersebut; apakah saya dapat memprosesnya karena akan mendatangkan keuntungan bagi perusahaan?
  </p>
</div>

<div id="jawaban" class="moveabl" style="left: 9.87866%; top: 27.0558%; width: 39.9058%; height: 24.6436%; opacity: 1; background: rgb(125, 106, 86); border-radius: 30px; padding: 2%; z-index: 1;">
  <p style="color:#fff">  
Tidak diperbolehkan karena tidak sesuai dengan penerapan ketentuan Anti Pencucian Uang dimana terdapat kemungkinan dana tersebut dari perbuatan melanggar hukum seperti hasil korupsi atau pendanaan aksi terorisme.
</p>
</div>

  <div id="kursi1" class="moveabl" style="width: 16.5264%; height: 40.5411%; left: 45.2483%; top: 60.4823%;">
    <img src="images/chair.svg" alt="chair 1">
  </div>

  <div id="kursi2" class="moveabl" style="width: 16.6466%; height: 41.0189%; left: 82.2733%; top: 60.3629%; transform: matrix(-1, 0, 0, 1, 0, 0);">
    <img src="images/chair.svg" alt="chair 2">
  </div>

  <div id="cso" class="moveabl" style="width: 17.6624%; height: 48.0552%; left: 79.7454%; top: 46.4779%;">
    <img src="images/staff-sit5.svg" alt="CSO BTPN melayani">
  </div>

  <div id="desk" class="moveabl" style="width: 37.2732%; height: 49.6965%; left: 52.7661%; top: 53.054%;">
    <img src="images/desk1.svg" alt="desk">
  </div>

  
  <div id="customer" class="moveabl" style="width: 16.0714%; height: 56.1609%; left: 26.065%; top: 44.5233%;">
    <img src="images/customer4.svg" alt="Nasabah mencurigakan">
  </div>

  <div id="coach" class="moveabl" style="left: 3.43407%; top: 44.9624%; width: 18.668%; height: 54.8721%; transform: matrix(-1, 0, 0, 1, 0, 0);"><img src="images/coach.svg" alt="Coach"></div>
  

<!--   <div class="moveabl" id="btn-next" style="width: 5.4019%; height: 9.99335%; left: 92.5667%; top: 86.516%;z-index:2">
  <a href="#/hubungan-dengan-nasabah-dan-pemangku-kepentingan-3" title="Selanjutnya">
    <img src="images/arrow-right.svg" alt="Next" >    
  </a>
</div> -->

<script>
  $('#nav-next').show();
  var tl = new TimelineMax(); 

  tl.from('#title', .5, {opacity:0});

  tl.from('#customer', 1, {left:'-50%', ease:Expo.easeOut});

  tl.from('#pertanyaan', .5, {opacity:0});

  tl.from('#coach', .5, {left:'-50%'}, '+=3')
  tl.from('#jawaban', .5, {opacity:0});  

  // tl.from('#btn-next', 1, {scale:0, ease:Bounce.easeOut}, '+=2');
    tl.from('#nav-next', 1, {scale:0, ease:Bounce.easeOut}, '+=2');

  </script>