<div id="container-b" class="moveable lock" spellcheck="false" style="width: 100%; height: 100%; background-color: rgb(247, 234, 146); padding: 1%;">
    <div>
        <br>
    </div>
</div>
<div id="container-d" class="moveable" style="width: 50%; height: 100%; left: 0px; opacity: 1;" spellcheck="false" data-options="opacity:0;left:-100%;index:1;label:kiri;duration:1;target:container-d;predefined:Fly in from left">
    <p>
        <br>
    </p>
    <div id="container-a" class="moveable" style="width: 26.0188%; height: 33.4204%; left: 4.38382%; top: 78.7084%;">
        <img src="images/chair.svg" alt="chair.svg">
    </div>
    <div id="container-h" class="moveable" style="width: 29.4671%; height: 42.8198%; left: 2.82132%; top: 63.4261%; transform: matrix(-1, 0, 0, 1, 0, 0);" data-scalex="-1">
        <img src="images/staff-sit2.svg" alt="staff-sit2.svg">
    </div>
    <div id="container-f" class="moveable" style="width: 24.7649%; height: 33.4204%; left: 63.8911%; top: 77.2071%; transform: matrix(-1, 0, 0, 1, 0, 0);" data-scalex="-1">
        <img src="images/chair.svg" alt="chair.svg">
    </div>
    <div id="container-n" class="moveable" style="width: 31.9749%; height: 50.9138%; left: 54.1487%; top: 58.6815%; opacity: 1;" data-options="target:container-n;ease:Power3.easeOut;index:2;top:52%;left:66.56%;label:container-n;duration:1;position:+=3" data-mce-style="width: 31.9749%; height: 50.9138%; left: 62.6225%; top: 50.2285%; opacity: 1;"><img src="images/vendor.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/a123d9e7-f968-4cfe-a44b-d12ec1bde6ea.svg" alt="vendor.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/a123d9e7-f968-4cfe-a44b-d12ec1bde6ea.svg"></div>
    <div id="container-e" class="moveable" style="width: 29.7806%; height: 42.0366%; left: 3.73726%; top: 63.218%; opacity: 1;" data-options="opacity:0;index:4;label:container-e;duration:1;target:container-e;predefined:Fade in" data-mce-style="width: 29.7806%; height: 42.0366%; left: 3.44338%; top: 57.6575%; opacity: 1;"><img src="images/male-staff-sit3.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/d1a62e1a-0322-448a-a5c8-9cc641092cfc.svg" alt="male-staff-sit3.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/d1a62e1a-0322-448a-a5c8-9cc641092cfc.svg"></div>
    <div id="container-8" class="moveable lock" style="left: 12.8429%; top: 85.4194%; width: 77.4295%; height: 23.4987%;" data-mce-style="left: 12.8429%; top: 85.4194%; width: 77.4295%; height: 23.4987%;"><img src="images/desk3.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/424c0c55-391a-426d-b694-4558c5254e3a.svg" alt="desk3.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/424c0c55-391a-426d-b694-4558c5254e3a.svg"></div>
    <div id="container-l" class="moveable action-resume-animation" style="left: 41.874%; top: 71.3977%; width: 16.3009%; height: 10.1828%; background-color: rgb(237, 237, 237); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="rotation:90;scale:0;index:3;label:container-l;duration:0.5;target:container-l;predefined:Rotate &amp; zoom in" data-mce-style="left: 46.6399%; top: 57.3515%; width: 23.1975%; height: 13.3159%; background-color: #ededed; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><img src="images/ticket-to-bali.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/f1a24ff5-453b-44b7-984a-a1efc98d90c8.svg" alt="ticket-to-bali.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/f1a24ff5-453b-44b7-984a-a1efc98d90c8.svg"></div>
    <div id="container-p" class="moveable" style="left: 34.135%; top: 87.8264%; width: 34.4828%; height: 5.74413%; background-color: rgb(255, 255, 255); padding: 1%; opacity: 1;" spellcheck="false" data-options="" data-mce-style="left: 34.135%; top: 87.8264%; width: 34.4828%; height: 5.74413%; background-color: #ffffff; padding: 1%; opacity: 1;">
        <p style="text-align: center;" data-mce-style="text-align: center;"><strong>Tim Penilai Vendor</strong>
            <br>
        </p>
    </div>
</div>
<div id="container-g" class="moveable" style="width: 50%; height: 100%; left: 50%; top: 0%; background-color: rgba(39, 170, 225, 0.74902); opacity: 1;" spellcheck="false" data-options="predefined:Fly in from right;target:container-g;duration:1;label:kanan;index:6;left:100%;opacity:0">
    <p>
        <br>
    </p>
    <div id="container-r" class="moveable" style="width: 26.0188%; height: 33.4204%; left: 4.38382%; top: 78.7084%;">
        <img src="images/chair.svg" alt="chair.svg">
    </div>
    <div id="container-v" class="moveable el-selected" style="width: 24.7649%; height: 33.4204%; left: 63.8911%; top: 77.2071%; transform: matrix(-1, 0, 0, 1, 0, 0);" data-scalex="-1">
        <img src="images/chair.svg" alt="chair.svg">
    </div>
    <div id="container-x" class="moveable" style="width: 31.9749%; height: 50.9138%; left: 54.1487%; top: 58.6815%; opacity: 1;" data-mce-style="width: 31.9749%; height: 50.9138%; left: 62.6225%; top: 50.2285%; opacity: 1;"><img src="images/vendor.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/a123d9e7-f968-4cfe-a44b-d12ec1bde6ea.svg" alt="vendor.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/a123d9e7-f968-4cfe-a44b-d12ec1bde6ea.svg"></div>
    <div id="container-m" class="moveable" style="left: 39.758%; top: 67.42%; width: 25.7053%; height: 14.3603%; opacity: 1;" data-options="target:container-m;ease:Expo.easeOut;index:8;opacity:0;left:30%;label:kado;duration:1;position:-=.3">
        <img src="images/kado.svg" alt="kado.svg">
    </div>
    <div id="container-t" class="moveable" style="left: 23.4326%; top: 55.5401%; width: 28.2132%; height: 42.8198%;" data-options="left:3.74%;top:63.22%;index:7;ease:Power4.easeOut;target:container-t;label:staff kanan;duration:1;position:+=1">
        <img src="images/staff-sit6-give.svg" alt="staff-sit6-give.svg">
    </div>
    <div id="container-11" class="moveable lock" style="left: 12.8429%; top: 85.4194%; width: 77.4295%; height: 23.4987%;" data-mce-style="left: 12.8429%; top: 85.4194%; width: 77.4295%; height: 23.4987%;"><img src="images/desk3.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/424c0c55-391a-426d-b694-4558c5254e3a.svg" alt="desk3.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/424c0c55-391a-426d-b694-4558c5254e3a.svg"></div>
    <div id="container-15" class="moveable" style="left: 34.135%; top: 87.8264%; width: 34.4828%; height: 5.74413%; background-color: rgb(255, 255, 255); padding: 1%; opacity: 1;" spellcheck="false" data-mce-style="left: 34.135%; top: 87.8264%; width: 34.4828%; height: 5.74413%; background-color: #ffffff; padding: 1%; opacity: 1;">
        <p style="text-align: center;" data-mce-style="text-align: center;"><strong>Tim Penilai Vendor</strong>
            <br>
        </p>
    </div>
</div>
<div id="container-9" class="moveable" style="left: 14.0237%; top: 1.88546%; width: 80.9077%; height: 12.9074%;" spellcheck="false">
    <h1>Hubungan dengan Nasabah dan Pemangku Kepentingan</h1></div>
<div id="container-7" class="moveable" style="left: 13.8666%; top: 15.1926%; width: 73.1733%; height: 12.8696%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-options="predefined:Fade in;target:container-7;duration:0.5;label:container-7;index:0;opacity:0">
    <p>Karyawan dilarang memberikan dan/atau menerima hadiah termasuk entertainment kepada atau dari nasabah, rekanan atau pejabat pemerintah yang berpotensi mempengaruhi keputusan bisnis.</p>
</div>
<div id="container-c" class="moveable" style="left: 18.7843%; top: 38.8259%; width: 10.3448%; height: 17.2324%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="scale:0;index:5;label:right;duration:1;ease:Elastic.easeOut;target:container-c">
    <img src="images/right.svg" alt="right.svg">
</div>
<div id="container-17" class="moveable" style="width: 10.34%; height: 17.23%; left: 71.0938%; top: 39.0666%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="scale:0;index:9;label:wrong;duration:1;ease:Elastic.easeOut;target:container-17">
    <img src="images/wrong.svg" alt="wrong.svg">
</div>
<div id="container-z" class="moveable" style="left: 19.7639%; top: 25.6976%; width: 60.9718%; height: 17.4935%; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0); border-radius: 20px; padding: 2%; background-color: rgb(239, 129, 35);" spellcheck="false" data-options="scale:0;index:10;label:container-z;duration:0.5;target:container-z;predefined:Zoom in;position:+=1">
    <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Karyawan tidak diperkenakan untuk memberi dan/atau menerima segala bentuk hadiah dari pihak-pihak lain sebagai bentuk balas jasa antar pribadi terkait dengan pekerjaan atau jabatannya.</span></p>
</div>
<!-- <div class="moveabl" id="btn-next" style="width: 5.4019%; height: 9.99335%; left: 92.5667%; top: 86.516%;z-index:2">
  <a href="#/hubungan-dengan-nasabah-dan-pemangku-kepentingan-8" title="Selanjutnya">
    <img src="images/arrow-right.svg" alt="Next" >    
  </a>
</div> -->
<script>
$('#nav-next').show();
var tl = new TimelineMax();

interactiveApp.timeline = tl;
tl.addLabel('container-7');
tl.from('#container-7', 0.5, {
    opacity: '0'
}, '+=0');
tl.addLabel('kiri');
tl.from('#container-d', 1, {
    opacity: '0',
    left: '-100%'
}, '+=0');
tl.addLabel('container-n');
tl.from('#container-n', 1, {
    top: '52%',
    left: '66.56%',
    ease: 'Power3.easeOut'
}, '+=3');
tl.addLabel('container-l');
tl.from('#container-l', 0.5, {
    rotation: '90',
    scale: '0'
}, '+=0');
tl.addLabel('container-e');
tl.from('#container-e', 1, {
    opacity: '0'
}, '+=0');
tl.addLabel('right');
tl.from('#container-c', 1, {
    scale: '0',
    ease: 'Elastic.easeOut'
}, '+=0');
tl.addLabel('kanan');
tl.from('#container-g', 1, {
    left: '100%',
    opacity: '0'
}, '+=0');
tl.addLabel('staff kanan');
tl.from('#container-t', 1, {
    left: '3.74%',
    top: '63.22%',
    ease: 'Power4.easeOut'
}, '+=1');
tl.addLabel('kado');
tl.from('#container-m', 1, {
    opacity: '0',
    left: '30%',
    ease: 'Expo.easeOut'
}, '-=.3');
tl.addLabel('wrong');
tl.from('#container-17', 1, {
    scale: '0',
    ease: 'Elastic.easeOut'
}, '+=0');
tl.addLabel('container-z');
tl.from('#container-z', 0.5, {
    scale: '0'
}, '+=1');
// tl.from('#btn-next', 1, {scale:0, ease:Bounce.easeOut}, '+=2');
    tl.from('#nav-next', 1, {scale:0, ease:Bounce.easeOut}, '+=3');
</script>
