<div class="moveabl" id="sunray" style="border-radius: 50%; width: 15.7081%; height: 25.5835%; left: 83.1557%; top: -12.0994%; opacity: 1; background-color: rgba(255, 255, 0, 0.3);">
  <div class="moveabl" id="sun" style="border-radius: 50%; width: 80%; height: 80%; left: 9.75756%; top: 10.4468%; opacity: 1; background-color: rgb(255, 255, 0);"></div>  
</div>

<div class="moveabl" id="clouds" style="width: 100.227%; height: 60.168%; top:-16.6648%">
  <div class="moveabl" style="left: 73.584%; top: 25.5829%; width: 5.9887%; height: 8.00353%;">
    <img src="images/cloud.svg" alt="cloud">
  </div>

  <div class="moveabl" style="width: 16.0805%; height: 12.7547%; left: -5.53849%; top: 33.2778%;">
    <img src="images/cloud.svg" alt="cloud">
  </div>

  <div class="moveabl" style="left: 83.637%; top: 47.5362%; width: 10.3955%; height: 11.2853%;">
    <img src="images/cloud.svg" alt="cloud">
  </div>

  <div class="moveabl" style="left: 22.8425%; top: 15.7328%; width: 9.51302%; height: 11.3208%;">
    <img src="images/cloud.svg" alt="cloud">
  </div>
</div>


<div class="moveabl" id="city" style="left: -0.470696%; top: 22.9729%; width: 100.566%; height: 60.3302%;">
  <img src="images/bg-city.svg" alt="City">
</div>

<div class="moveabl" style="width:100%;height:20%;top:80%;background:#8FA73F">
  <div class="moveabl" style="width:100%;height:10%;top:20%;background:#fff"></div>
  <div class="moveabl" style="width:100%;height:10%;top:60%;background:#fff"></div>
</div>

<div style="width:100%;height:100%;background:#7D6A56" id="office"></div>

<div class="moveabl" style="width: 80%; height: 10%; left: 13.3036%; top: 2.0252%;">
  <h1 style="color:#fff">Menciptakan Lingkungan Kerja yang Kondusif</h1>    
</div>
<div id="border1" style="border-radius: 30px; width: 78.794%; height: 28.6217%; left: 11.0752%; top: 13.2039%; background-color: rgb(239, 129, 35); opacity: 1;" class="moveabl"></div>

<div id="text1" class="moveabl" style="left: 13.2528%; top: 12.0757%; width: 74.0721%; height: 27.9528%; opacity: 1;">
  <h3 style="color:#fff">Anti Diskriminasi dan Pelecehan</h3>
  <p style="color:#fff;">

BTPN tidak mentolerir (zero tolerance) segala tindakan diskriminasi dan pelecehan yang didasari oleh perbedaan suku bangsa, agama, warna kulit, jenis kelamin, usia, jabatan maupun kapabilitas dalam bentuk apapun. Segala bentuk ancaman dan tindak kekerasan di tempat kerja akan diproses sesuai dengan peraturan yang berlaku.

 </p>
</div>

<div class="moveabl" id="molester" style="width: 12.2022%; height: 56.3648%; left: 10.0736%; top: 44.2118%;">
  <img src="images/male-siluet2.svg" alt="Pelaku pelecehan">
</div>

<div class="moveabl" id="chair" style="width: 14.6507%; height: 35.9001%; left: 15.933%; top: 65.2206%;">
  <img src="images/chair.svg" alt="kursi staff">
</div>
<div class="moveabl" id="female-staff" style="width: 13.2143%; height: 51.6648%; left: 18.7647%; top: 46.2485%;">
  <img src="images/female-sit.svg" alt="Staff wanita bekerja">
</div>
<div class="moveabl" id="female-staff-sad" style="width: 13.2143%; height: 51.6648%; left: 18.7647%; top: 46.2485%;">
  <img src="images/female-sad-sit.svg" alt="Staff wanita bekerja dilecehkan">
</div>
<div class="moveabl" id="molester-hand" style="width: 10.478%; height: 8.25679%; left: 14.1954%; top: 65.9395%;">
  <img src="images/male-hand-siluet.svg" alt="Tangan pelaku pelecehan">
</div>

<div class="moveabl" id="desk" style="width: 33.6297%; height: 42.3173%; left: 23.0765%; top: 57.8749%; transform: matrix(-1, 0, 0, 1, 0, 0);">
  <img src="images/desk1.svg" alt="meja kantor">
</div>

<div class="moveabl" id="btn-tanya" style="cursor:pointer; width: 5.20983%; height: 9.0031%; left: 31.7409%; top: 49.089%; border-radius: 50%; background: rgb(239, 129, 35); text-align: center; padding-top: 1.3%;">
  <a title="Harus bagaimana?" style="color:#fff;text-decoration:none">
    ?
  </a>
</div>

<div id="pertanyaan" class="moveabl" style="width: 25.4161%; height: 24.985%; background: rgb(239, 129, 35); border-radius: 30px; left: 31.4371%; top: 48.3751%; padding: 2%;">
<p style="color:#fff">Rekan kerja saya yang sudah menikah sering menggoda dengan nada merayu dan kurang pantas, bagaimana saya menyikapi hal ini? </p>
</div>

<div class="moveabl" id="coach" style="width: 17.8535%; height: 53.3696%; left: 76.0536%; top: 47.3467%;z-index:1">
  <img src="images/coach.svg" alt="Coach menjawab">
</div>

<div id="jawaban" class="moveabl" style="width: 23.213%; height: 28.7415%; background: rgb(86, 76, 65); border-radius: 30px; left: 58.2525%; top: 46.6878%; padding: 2%; display: block; opacity: 1;">
<p style="color:#fff">Tindakan rekan kerja tersebut termasuk salah satu bentuk pelecehan, Anda dapat <u>melaporkan tindakan tersebut</u> melalui media <strong>Speak Your Mind</strong>.
 </p>
</div>


<!-- <div class="moveabl" id="btn-next" style="width: 5.4019%; height: 9.99335%; left: 92.5667%; top: 86.516%;">
  <a href="#/menciptakan-lingkungan-kerja-kondusif-3" title="Selanjutnya">
    <img src="images/arrow-right.svg" alt="Next" >    
  </a>
</div>

<div id="cursor" class="moveabl" style="width: 5.3125%; height: 9.68696%; left: 91.5017%; top: 89.3447%; opacity: 1;">
  <a href="#/menciptakan-lingkungan-kerja-kondusif-3">
    <img src="images/handcursor.png" alt="click">
  </a>
</div> -->

<script>

  var tl = new TimelineMax(); 
  
  tl.set('#coach, #pertanyaan, #jawaban, #cursor, #btn-next', {display:'none'});
  tl.from('#office', 1, {opacity:0});
  tl.from('#border1', .5, {opacity:0, left:'-50%'});
  tl.from('#title', .5, {opacity:0});
  tl.from('#text1', .5, {opacity:0});

  tl.from('#molester', 1, {left:'-30%'}, "+=3");
  tl.from('#molester-hand', .5, {opacity:0});
  tl.from('#female-staff-sad', 1, {opacity:0});
  tl.from('#btn-tanya', 1, {opacity:0, top: '70%'});

  TweenMax.from('#molester-hand', 1, {transformOrigin:"top left", rotation:45, yoyo:true, repeat:-1, delay:4.5});

  $('#btn-tanya').click(function() {
    var tl = new TimelineMax();
    tl.set('#coach, #pertanyaan, #jawaban, #btn-next, #cursor', {display:'block'});
    tl.from('#pertanyaan', .5, {opacity:0, top:'50%'});
    tl.from('#coach', .5, {left:'100%'}, "+=3");
    tl.from('#jawaban', .5, {opacity:0, top:'50%'});

    // tl.from('#btn-next', 1, {scale:0, ease:Bounce.easeOut});
    // tl.from('#cursor', 1, {opacity:0, left:'30%', top:'30%'}, '+=3');
  });


</script>