<div style="background:#F7EA92;width:100%;height:100%"></div>

<div class="moveabl" style="width: 80%; height: 10%; left: 13.3036%; top: 2.0252%;">
  <h1>Menciptakan Lingkungan Kerja yang Kondusif</h1>    
</div>



<div id="border1" style="border-radius: 30px;width: 78.794%;height: 20.6217%;left: 11.0752%;top: 13.2039%;background-color: rgb(239, 129, 35);opacity: 1;" class="moveabl"></div>

<div id="text1" class="moveabl" style="left: 13.2528%; top: 12.0757%; width: 74.0721%; height: 27.9528%; opacity: 1;">
  <h3 style="color:#fff">Penggunaan Fasilitas Perusahaan </h3>
  <p style="color:#fff;">

BTPN menyediakan peralatan dan fasilitas kerja yang memadai dan hanya dapat digunakan oleh karyawan untuk mendukung pekerjaan di BTPN. 

 </p>
</div>

<div class="moveabl" id="btn-pertanyaan" style="cursor: pointer; width: 5.20983%; height: 9.0031%; left: 14.7721%; top: 40.1801%; border-radius: 50%; background: rgb(239, 129, 35); text-align: center; padding-top: 1.3%;">
  <a title="Apakah boleh?" style="color:#fff;text-decoration:none">
    ?
  </a>
</div>

<div id="pertanyaan" class="moveabl" style="left: 14.4832%; top: 39.5395%; width: 28.8026%; height: 17.8789%; opacity: 1; background: rgb(239, 129, 35); border-radius: 30px; padding: 2%;">
 <p style="color:#fff">Bolehkah saya menggunakan telepon kantor untuk menelepon Keluarga saya di Semarang?

</p>
</div>

<div id="jawaban" class="moveabl" style="left: 49.77%; top: 37.303%; width: 36.1509%; height: 21.7402%; opacity: 1; background: rgb(125, 106, 86); border-radius: 30px; padding: 2%;">
 <p style="color:#fff">Peralatan dan fasilitas BTPN digunakan karyawan hanya saat melaksanakan pekerjaan untuk kepentingan BTPN, serta wajib mengikuti prosedur yang berlaku.

</p>
</div>

<div class="moveabl" id="chair1" style="width: 14.2511%; height: 42.2774%; left: 49.3956%; top: 65.8302%; transform: matrix(-1, 0, 0, 1, 0, 0);">
  <img src="images/chair.svg" alt="Kursi">
</div>

<div class="moveabl" id="desk1" style="width: 42.5087%;height: 21.6918%;left: 28.3127%;top: 78.3462%;">
  <img src="images/desk5.svg" alt="Meja kantor">
</div>

<div class="moveabl" id="printer" style="width: 10.5375%;height: 20.8518%;left: 31.7011%;top: 58.2515%;">
  <img src="images/printer.svg" alt="Printer" title="Printer kantor">
</div>

<div class="moveabl" id="laptop" style="width: 12.1477%;height: 12.7869%;left: 44.8509%;top: 65.9672%;">
  <img src="images/laptop2.svg" alt="Laptop" title="Laptop kantor">
</div>

<div class="moveabl" id="phone" style="width: 4.85328%;height: 12.3444%;left: 61.711%;top: 66%;">
  <img src="images/phone.svg" alt="Telepon" title="Telepon kantor">
</div>



<div class="moveabl" id="staff" style="width: 16.3793%; height: 53.6228%; left: 6.39506%; top: 46.3012%;">
  <img src="images/male-staff-shock.svg" alt="Karyawan bertanya">
</div>

<div class="moveabl" id="coach" style="width: 18.5013%; height: 55.2579%; left: 75.1368%; top: 45.3574%;">
  <img src="images/coach.svg" alt="Coach menjawab">
</div>

<!-- <div class="moveabl" id="btn-next" style="width: 5.4019%; height: 9.99335%; left: 92.5667%; top: 86.516%;">
  <a href="#/menciptakan-lingkungan-kerja-kondusif-6" title="Selanjutnya">
    <img src="images/arrow-right.svg" alt="Next" >    
  </a>
</div>

<div id="cursor" class="moveabl" style="width: 5.3125%; height: 9.68696%; left: 91.5741%; top: 89.5534%; opacity: 1;">
  <a href="#/menciptakan-lingkungan-kerja-kondusif-6">
    <img src="images/handcursor.png" alt="click">
  </a>
</div> -->

<script>
  var tl = new TimelineMax(); 
  
  tl.set('#pertanyaan, #coach, #jawaban, #btn-next, #cursor', {display:'none'});

  tl.staggerFrom('#printer, #laptop, #phone', .5, {top:'-30%', ease:Bounce.easeOut}, .25);
  tl.from('#staff', .5, {left:'-30%'}, "+=1");
  tl.from('#btn-pertanyaan', .5, {top:'60%', opacity:0});

  $('#btn-pertanyaan').click(function() { 
    var tl = new TimelineMax(); 
    tl.set('#pertanyaan, #coach, #jawaban, #btn-next,#cursor', {display:'block'});
    tl.from('#pertanyaan', .5, {opacity:0, top:'40%'});

    tl.from('#coach', .5, {left:'100%'}, "+=2");
    tl.from('#jawaban', .5, {opacity:0, top:'40%'});

    // tl.from('#btn-next', 1, {scale:0, ease:Bounce.easeOut}, '+=3');
    // tl.from('#cursor', 1, {opacity:0, left:'30%', top:'30%'}, '+=3');
  });

</script>