<div class="moveabl" id="sunray" style="border-radius: 50%; width: 15.7081%; height: 25.5835%; left: 83.1557%; top: -12.0994%; opacity: 1; background-color: rgba(255, 255, 0, 0.3);">
  <div class="moveabl" id="sun" style="border-radius: 50%; width: 80%; height: 80%; left: 9.75756%; top: 10.4468%; opacity: 1; background-color: rgb(255, 255, 0);"></div>  
</div>

<div class="moveabl" id="clouds" style="width: 100.227%; height: 60.168%; top:-16.6648%">
  <div class="moveabl" style="left: 73.584%; top: 25.5829%; width: 5.9887%; height: 8.00353%;">
    <img src="images/cloud.svg" alt="cloud">
  </div>

  <div class="moveabl" style="width: 16.0805%; height: 12.7547%; left: -5.53849%; top: 33.2778%;">
    <img src="images/cloud.svg" alt="cloud">
  </div>

  <div class="moveabl" style="left: 83.637%; top: 47.5362%; width: 10.3955%; height: 11.2853%;">
    <img src="images/cloud.svg" alt="cloud">
  </div>

  <div class="moveabl" style="left: 22.8425%; top: 15.7328%; width: 9.51302%; height: 11.3208%;">
    <img src="images/cloud.svg" alt="cloud">
  </div>
</div>


<div class="moveabl" id="city" style="left: -0.470696%; top: 22.9729%; width: 100.566%; height: 60.3302%;">
  <img src="images/bg-city.svg" alt="City">
</div>

<div id="border1" style="border-radius: 30px; width: 26.496%; height: 51.5629%; left: 3.98751%; top: 31.6375%; background-color: rgb(239, 129, 35); opacity: 1;z-index:1" class="moveabl"></div>


<div id="text1" class="moveabl" style="left: 7.50776%; top: 31.9451%; width: 19.9542%; height: 47.0657%; opacity: 1;z-index:2">
  <h3 style="color:#fff">Perlakuan Adil Kepada Seluruh Karyawan</h3>
  <p style="color:#fff;">
BTPN berkomitmen untuk memberikan kesempatan yang sama kepada semua karyawan dalam berkarir dan mengembangkan diri serta menjalankan sistem penilaian kinerja yang adil.
 </p>
</div>

<div class="moveabl" style="width:100%;height:20%;top:80%;background:#8FA73F">
  <div class="moveabl" style="width:100%;height:10%;top:20%;background:#fff"></div>
  <div class="moveabl" style="width:100%;height:10%;top:60%;background:#fff"></div>
</div>

<div class="moveabl" style="width: 80%; height: 10%; left: 13.3036%; top: 2.0252%;">
  <h1>Menciptakan Lingkungan Kerja yang Kondusif</h1>    
</div>

<div id="text2" class="moveabl" style="left: 33.9225%; top: 20.7923%; width: 23.9731%; height: 25.6213%; opacity: 1; background: rgb(125, 106, 86); border-radius: 30px; padding: 2%;">
 <p style="color:#fff">
   BTPN telah memiliki performa management yaitu KPI yang jelas dan terukur yang disepakati oleh atasan dan bawahan.  
 </p>
</div> 

<div id="text3" class="moveabl" style="left: 60.9726%; top: 12.5738%; width: 20.7798%; height: 25.5998%; opacity: 1; background:rgb(239, 129, 35);  border-radius: 30px; padding: 2%;">
 <p style="color:#fff">
    Penilaian kinerja karyawan didasarkan pada kompetensi dan tidak dipengaruhi oleh subyektifitas.
 </p>
</div>

<div id="shadow1" class="moveabl" style="width: 15.4889%;height: 5.56349%;left: 26.2396%;top: 85.4218%;background-color: #447F3C;border-radius: 50%;"></div>
<div id="shadow2" class="moveabl" style="width: 13.2216%;height: 5.79026%;left: 44.5717%;top: 85.223%;background-color: #447F3C;border-radius: 50%;"></div>
<div id="shadow3" class="moveabl" style="width: 21.1621%; height: 5.5518%; left: 65.6324%; top: 85.47%; background-color: rgb(68, 127, 60); border-radius: 50%;"></div>
<div id="shadow4" class="moveabl" style="width: 15.9611%; height: 5.54564%; left: 47.0726%; top: 85.0978%; background-color: rgb(68, 127, 60); border-radius: 50%;"></div>
<div id="staff-male" class="moveabl" style="left: 20.1796%; top: 45.8406%; width: 21.3231%; height: 42.1471%;"><img src="images/male-staff-walk.svg" alt="Male staff lari"></div>
<div id="staff-female" class="moveabl" style="left: 45.4403%; top: 43.7655%; width: 14.8587%; height: 44.9118%;"><img src="images/female-staff-walk.svg" alt="Female staff lari"></div>
<div id="staff-male2" class="moveabl" style="width: 21.1602%; height: 41.2088%; left: 42.7157%; top: 46.4505%;"><img src="images/male-staff-walk.svg" alt="Male staff lari"></div>
<div class="moveabl" id="papan" style="width: 21.1602%; height: 26.2088%; left: 65.7617%; top: 63.2966%;">
  <a href="#/menciptakan-lingkungan-kerja-kondusif-2">
    <img src="images/jump-board.svg" alt="Tantangan">
  </a>    
</div>

<div id="cursor" class="moveabl" style="width: 5.3125%; height: 9.68696%; left: 67.993%; top: 73.2791%; opacity: 1;">
  <a href="#/misconduct">
    <img src="images/handcursor.png" alt="click">
  </a>
</div>

<script>
  $('#nav-next').show();
  var tl = new TimelineMax(); 
  
  tl.from('#staff-male2, #shadow4', 1.5, {left:'-20%'}, 'walking');
  tl.from('#staff-male, #shadow1', 2, {left:'-40%'}, 'walking');
  tl.from('#staff-female, #shadow2', 2, {left:'-30%'}, 'walking');
  
  tl.to('#staff-male2', .5, {left:'67.1893%', top:'20.1772%'}, "-=1");
  tl.to('#shadow4', .5, {left:'67.1893%'}, "-=1");

  tl.from('#border1', .5, {opacity:0, left:'-50%'});
  tl.from('#title', .5, {opacity:0});
  tl.from('#text1', .5, {opacity:0});
  tl.from('#text2', .5, {scale:0}, '+=4');
  tl.from('#text3', .5, {scale:0}, '+=4');

  tl.from('#cursor', 1, {opacity:0, left:'30%', top:'30%'}, '+=3');

    tl.from('#nav-next', 1, {scale:0, ease:Bounce.easeOut}, '+=3');
</script>