<div class="moveabl" id="clouds" style="width: 100.227%; height: 60.168%; top:-16.6648%">
  <div class="moveabl" style="left: 73.584%; top: 25.5829%; width: 5.9887%; height: 8.00353%;">
    <img src="images/cloud.svg" alt="cloud">
  </div>

  <div class="moveabl" style="width: 16.0805%; height: 12.7547%; left: -5.53849%; top: 33.2778%;">
    <img src="images/cloud.svg" alt="cloud">
  </div>

  <div class="moveabl" style="left: 83.637%; top: 47.5362%; width: 10.3955%; height: 11.2853%;">
    <img src="images/cloud.svg" alt="cloud">
  </div>

  <div class="moveabl" style="left: 22.8425%; top: 15.7328%; width: 9.51302%; height: 11.3208%;">
    <img src="images/cloud.svg" alt="cloud">
  </div>
</div>


<div class="moveabl" id="city" style="left: -0.470696%; top: 22.9729%; width: 100.566%; height: 60.3302%;">
  <img src="images/bg-city.svg" alt="City">
</div>
<div id="road" class="moveabl" style="width:100%;height:20%;top:80.2797%;background-color:#738699"></div>

<div class="moveabl" style="width: 80%; height: 10%; left: 13.3036%; top: 2.0252%;">
  <h1>Menciptakan Lingkungan Kerja yang Kondusif</h1>    
</div>

<div id="border1" style="border-radius: 30px; width: 78.794%; height: 25.6217%; left: 11.0752%; top: 13.2039%; background-color: rgb(239, 129, 35); opacity: 1;" class="moveabl"></div>

<div id="text1" class="moveabl" style="left: 13.2528%; top: 12.0757%; width: 74.0721%; height: 27.9528%; opacity: 1;">
  <h3 style="color:#fff">Aktivitas di Luar Perusahaan</h3>
  <p style="color:#fff;">
Karyawan dalam kapasitasnya sebagai individu dapat berpartisipasi sebagai anggota suatu organisasi/ asosiasi diluar Perusahaan dan sebagai warga negara, Karyawan juga memiliki kebebasan dalam berpolitik namun tidak diperkenankan menjadi pengurus aktif partai politik.  
 </p>
</div>

<div class="moveabl" style="width: 46.7181%; height: 59.0894%; left: 13.1729%; top: 32.438%;" id="truck">
  
  <div class="moveabl partisan" id="partisan1" style="width: 16.9747%; height: 37.6953%; left: -0.196013%; top: 16.2377%;">
    <img src="images/partisan1.svg" alt="Partisan 1">
  </div>
  <div class="moveabl partisan" id="partisan2" style="width: 20.2005%; height: 36.0188%; left: 17.8707%; top: 17.8883%;">
    <img src="images/partisan2.svg" alt="Partisan 2">
  </div>
  <div class="moveabl partisan" id="partisan3" style="width: 19.6629%; height: 36.4698%; left: 36.2651%; top: 17.6547%;">
    <img src="images/partisan3.svg" alt="Partisan 3">
  </div>
  <div class="moveabl" style="width: 99.748%; height: 8.47503%; background: rgb(88, 104, 117); border-radius: 50%; left: 0.204413%; top: 84.689%;"></div>
  <div class="moveabl" id="truckbody" style="width: 100.343%; height: 56.4132%; left: -0.597826%; top: 28.0261%;">
    <img src="images/truck.svg" alt="Truk kampanye">
  </div>

  <div class="moveabl tire  " id="tire1" style="width: 16.6029%; height: 22.5337%; left: 13.3949%; top: 68.6264%; ">
    <img src="images/tire.svg" alt="Ban Truk">
  </div>

  <div class="moveabl tire" id="tire2" style="width: 16.6029%; height: 22.5337%; left: 72.0157%; top: 68.6264%;">
    <img src="images/tire.svg" alt="Ban Truk">
  </div>  
</div>

<div id="pertanyaan" class="moveabl" style="left: 51.8116%;top: 60.7861%;width: 27.3971%;height: 21.0318%;opacity: 1;background: rgb(239, 129, 35);border-radius: 30px;padding: 2%;">
 <p style="color:#fff">
    Saya di ajak oleh tetangga saya untuk menjadi aktivis Partai Politik, Apakah BTPN memperkenankan hal tersebut?
 </p>
</div>

<div id="jawaban" class="moveabl" style="left: 19.9178%;top: 60.7861%;width: 31.6463%;height: 21.0641%;opacity: 1;background: rgb(125, 106, 86);border-radius: 30px;padding: 2%;">
 <p style="color:#fff">
   Sebagai warga negara Indonesia, karyawan memiliki hak pilih, tetapi karyawan tidak diperkenankan untuk menjadi pengurus aktif partai politik
 </p>
</div> 

<div class="moveabl" id="hand" style="width: 6.16913%; height: 11.1988%; left: 76.0837%; top: 68.944%;">
  <img src="images/partisan4-hand.svg" alt="Tangan karyawan">
</div>
<div class="moveabl" id="staff" style="width: 8.96092%; height: 34.8491%; left: 79.4983%; top: 65.3319%; ">
  <img src="images/partisan4.svg" alt="Karyawan kampanye">
</div>

<div class="moveabl" id="coach" style="width: 11.5651%; height: 34.3561%; left: 11.5974%; top: 66.0566%; transform: matrix(-1, 0, 0, 1, 0, 0);">
  <img src="images/coach.svg" alt="Coach menjawab">
</div>

<div class="moveabl" id="btn-next" style="width: 5.4019%; height: 9.99335%; left: 92.5667%; top: 86.516%;">
  <a href="#/menciptakan-lingkungan-kerja-kondusif-" title="Selanjutnya">
    <img src="images/arrow-right.svg" alt="Next" >    
  </a>
</div>

<div id="cursor" class="moveabl" style="width: 5.3125%; height: 9.68696%; left: 91.5741%; top: 89.5534%; opacity: 1;">
  <a href="#/menciptakan-lingkungan-kerja-kondusif-4">
    <img src="images/handcursor.png" alt="click">
  </a>
</div>

<script>
  var tl = new TimelineMax();   

  tl.from('#border1', .5, {opacity:0, left:'-50%'});
  tl.from('#title', .5, {opacity:0});
  tl.from('#text1', .5, {opacity:0});

  TweenMax.fromTo('#truck', 15, {left:'-80%'}, {left:'160%', repeat:2});
  TweenMax.from('#hand', .5, {transformOrigin:"right bottom", repeat:90, yoyo:true, rotation:20});

  TweenMax.from('.tire', .5, {rotation:359.9, transformOrigin:"center center", repeat:90, ease:Linear.easeNone});
  TweenMax.staggerFrom($('.partisan'), .5, {rotation:10, transformOrigin:"center bottom", yoyo:true, repeat:60, repeatDelay:2}, 1);

  tl.from('#pertanyaan', .5, {left:'100%',opacity:0});

  tl.from('#coach', .5, {left:'-30%'}, "4");
  tl.from('#jawaban', .5, {opacity:0, top:'50%'});

  tl.from('#btn-next', 1, {scale:0, ease:Bounce.easeOut}, '+=4');
  tl.from('#cursor', 1, {opacity:0, left:'30%', top:'30%'}, '+=3');

</script>