

<div id="office" style="background:#F7EA92;width:100%;height:100%" class="moveabl">
  <div class="moveabl" style="left: 3.46911%; top: 40.7318%; width: 50.5762%; height: 42.094%;"><img src="images/bg-office.svg" alt="office background"></div>
</div>

<div class="moveabl" style="width: 50%; height: 10%; left: 13.3036%; top: 2.0252%;">
  <h1 >Speak Your Mind</h1>
</div>

<div id="shadow1" class="moveabl" style="width: 15.4889%;height: 5.56349%;left: 39.2396%;top: 85.4218%;background:rgb(160, 150, 99);border-radius: 50%;"></div>
<div id="shadow2" class="moveabl" style="width: 13.2216%;height: 5.79026%;left: 28.5717%;top: 85.223%;background:rgb(160, 150, 99);border-radius: 50%;"></div>
<div id="staff-male" class="moveabl" style="left: 34.4403%; top: 45.8406%; width: 21.3231%; height: 42.1471%;"><img src="images/male-staff-walk.svg" alt="Male staff walking"></div>
<div id="staff-female" class="moveabl" style="left: 28.1796%; top: 43.7655%; width: 14.8587%; height: 44.9118%;"><img src="images/female-staff-walk.svg" alt="Female staff walking"></div>
<div id="staff-male-shock" class="moveabl" style="left: 41.3559%; top: 46.0332%; width: 12.9699%; height: 42.1285%;"><img src="images/male-staff-shock.svg" alt="Male staff shock"></div>
<div id="staff-female-shock" class="moveabl" style="left: 26.6856%; top: 43.4984%; width: 13.188%; height: 46.8931%;"><img src="images/female-staff-shock.svg" alt="female staff shock"></div>

<div class="shock-icon moveabl" style="left: 36.0084%; top: 42.7901%; width: 3%; height: 4.97018%;"><img src="images/shock.svg" alt="shock!"></div>
<div class="shock-icon moveabl" style="left: 48.0851%; top: 43.3431%; width: 3%; height: 5.16899%;"><img src="images/shock.svg" alt="shock!"></div>

<div class="moveabl" id="report1" style="width: 24.2828%; height: 14.2103%; left: 28.6551%; top: 23.8042%; border-radius: 30px; background: rgb(239, 129, 35); padding: 2%;">
  <p style="color:#fff"><strong>E-mail:</strong><br> <u>speak.yourmind@btpn.com</u></p>
</div>
<div class="moveabl" id="report2" style="width: 23.1273%; height: 14.2157%; left: 28.7257%; top: 24.4555%; border-radius: 30px; background: rgb(239, 129, 35); padding: 2%;">
  <p style="color:#fff"><strong>Hotline:</strong><br> 021-300 26 200 ext. 6278</p>
</div>
<div class="moveabl" id="report3" style="width: 24.4945%; height: 18.0823%; left: 28.6699%; top: 22.3046%; border-radius: 30px; background: rgb(239, 129, 35); padding: 2%;">
  <p style="color:#fff"><strong>Surat:</strong><br> Fraud Management Unit –  Menara Cyber 2, Lt. 25
</p>
</div>

<div id="laporkan1" class="moveabl" style="width: 21.0189%; height: 35.8644%; left: 68.1114%; top: 7.98205%;">
  <div id="laporkan1-mail" class="moveabl" style="cursor:pointer; left: 59.5414%; top: 7.69643%;width: 31.5152%;height: 31.5152%;">
    <img src="images/report-mail.svg" alt="Laporkan melalui surat"  title="Laporkan melalui surat">
  </div>
  <div id="laporkan1-phone" class="moveabl " style="cursor:pointer; left: 25.0925%; top: 28.8214%;width: 31.5152%;height: 31.5152%;">
    <img src="images/report-phone.svg" alt="Laporkan melalui telepon" title="Laporkan melalui telepon">
  </div>
  <div id="laporkan1-email" class="moveabl" style="cursor:pointer; left: 7.06522%; top: 64.2871%;width: 31.5152%;height: 31.5152%;">
    <img src="images/report-email.svg" alt="Laporkan melalui email" title="Laporkan melalui email">
  </div>
</div>

<div id="laporkan2" class="moveabl " style="width: 19.9992%; height: 41.4628%; left: 52.231%; top: 45.1961%;">
  <div id="laporkan2-mail" class="moveabl" style="cursor:pointer; left: 54.4586%; top: 1.97917%;width: 31.5152%;height: 31.5152%;">
    <img src="images/report-mail.svg" alt="Laporkan melalui surat" title="Laporkan melalui surat">
  </div>
  <div id="laporkan2-phone" class="moveabl " style="cursor:pointer; left: 24.2843%; top: 25.2429%;width: 31.5152%;height: 31.5152%;">
    <img src="images/report-phone.svg" alt="Laporkan melalui telepon" title="Laporkan melalui telepon">
  </div>
  <div id="laporkan2-email" class="moveabl" style="cursor:pointer; left: 16.1996%; top: 57.7073%;width: 31.5152%;height: 31.5152%;">
    <img src="images/report-email.svg" alt="Laporkan melalui email" title="Laporkan melalui email">
  </div>
</div>

<div id="event1" class="moveabl" style="cursor:pointer;border: 10px solid white; width: 20.4262%; height: 33.5891%; left: 76.8327%; top: 22.9736%; border-radius: 50%; background-color: rgb(125, 106, 86);" title="Kejadian pelecehan seksual atasan kepada bawahan">
  <div id="male-siluet" class="moveabl" style="left: 33.395%; top: 13.0365%; width: 84.6154%; height: 88.5542%;"><img src="images/male-siluet.svg" alt="Molester"></div>
  <div id="female-sad" class="moveabl" style="left: -32.3687%; top: 37.3494%; width: 89.9408%; height: 83.7349%;"><img src="images/female-sad.svg" alt="Female sad"></div>
</div>

<div id="event2" class="moveabl" style="cursor:pointer;border: 10px solid white; width: 20.4262%; height: 33.5891%; left: 63.4261%; top: 56.2473%; border-radius: 50%; background-color: rgb(252, 234, 45);" title="Kejadian tindakan fraud oleh oknum karyawan yang sedang mentransfer kas perusahaan ke rekening pribadi.">
  <div id="laptop" class="moveabl" style="left: -9.88991%; top: 13.9993%; width: 114.719%; height: 97.453%;"><img src="images/laptop.svg" alt="laptop"></div>
  <div id="rek-btpn" class="moveabl" style="left: 23.6861%; top: 24.3407%; width: 25%; height: 35.2601%; background-color: rgb(239, 129, 35);"><img src="images/btpn-logo-white.svg" alt="BTPN Account" style="margin-top:35%"></div>
  <div id="rek-pribadi" class="moveabl" style="left: 53.5423%; top: 23.7446%; width: 24.1211%; height: 35.4949%; border: 1px dashed white;"><p style="font-size: 37%;margin: 42% 10%;color: white;">Rekening pribadi</p></div>
  <div id="mousepointer" class="moveabl" style="top: 46.6629%; left: 35.973%; width: 11.9318%; height: 10.4769%;"><img src="images/mouse-pointer.svg" alt="mouse pointer"></div>
  <div id="mouse" class="moveabl" style="left: 50.5238%; top: 80.8425%; width: 30.9375%; height: 34.3431%;"><img src="images/mouse.svg" alt="mouse"></div>
</div>

<div class="moveabl" id="btn-next" style="width: 5.4019%; height: 9.99335%; left: 92.5667%; top: 86.516%;">
  <a href="#/contoh-kepatuhan-dan-manajemen-resiko" title="Selanjutnya">
    <img src="images/arrow-right.svg" alt="Next" >    
  </a>
</div>

<div id="cursor" class="moveabl" style="width: 5.3125%; height: 9.68696%; left: 90.9503%; top: 88.7932%; opacity: 1;">
  <a href="#/contoh-kepatuhan-dan-manajemen-resiko">
    <img src="images/handcursor.png" alt="click">
  </a>
</div>


<script>
  var tl = new TimelineMax(); 

  tl.set('#laporkan1, #laporkan2', {display:'none'});
  tl.set('#report1, #report2, #report3', {opacity:0});

  tl.to('#staff-male, #staff-female', .5, {opacity:0}, 'shock');
  tl.from('#staff-male-shock, #staff-female-shock', .5, {opacity:0}, 'shock');
  tl.from('.shock-icon', .5, {scale:0, repeat:1, ease:Bounce.easeOut});
  
  tl.from('#event1', .5, {left:'100%'});
  tl.from('#male-siluet', 1, {opacity:0, left:'100%'}, 'event1end');  

  tl.from('#event2', .5, {left:'100%'}, 'event1end+=1');
  tl.to('#mouse', 1, {left:'58%', repeat:3}, 'mousemove');  
  tl.to('#mousepointer', 1, {left:'57%', repeat:3}, 'mousemove');
  tl.to('#rek-btpn', 1, {left:'53.68%',opacity:0, repeat:3}, 'mousemove');

  tl.from('#btn-next', 1, {scale:0, ease:Bounce.easeOut});
  tl.from('#cursor', 1, {opacity:0, left:'30%', top:'30%'}, '+=2');

  $('#laporkan1-mail, #laporkan2-mail').click(function() {    
    TweenMax.to('#report1, #report2', .5, {opacity:0});
    $('#report3').css('opacity',1);
    TweenMax.from('#report3', .5, {opacity:0, top:"100%", ease:Expo.easeOut});
  });
  $('#laporkan1-phone, #laporkan2-phone').click(function() {    
    TweenMax.to('#report1, #report3', .5, {opacity:0});
    $('#report2').css('opacity',1);
    TweenMax.from('#report2', .5, {opacity:0, top:"100%", ease:Expo.easeOut});
  });
  $('#laporkan1-email, #laporkan2-email').click(function() {    
    TweenMax.to('#report3, #report2', .5, {opacity:0});
    $('#report1').css('opacity',1);
    TweenMax.from('#report1', .5, {opacity:0, top:"100%", ease:Expo.easeOut});
  });

  $('#event1').click(function() {
    var tl1 = new TimelineMax();
    tl1.set('#laporkan1',{display:'block'});
    tl1.from('#laporkan1', .5, {opacity:0});
    tl1.staggerFrom('#laporkan1 div', .5, {opacity:0}, 0.25);


  });
  $('#event2').click(function() {
    var tl1 = new TimelineMax();
    tl1.set('#laporkan2',{display:'block'});
    tl1.from('#laporkan2', .5, {opacity:0});
    tl1.staggerFrom('#laporkan2 div', .5, {opacity:0}, 0.25);

  });

</script>