<div id="F-itzj45f70" class="moveable lock" style="width: 100%; height: 100%; background-color: rgb(153, 248, 255); left: 0%; top: 0%;" spellcheck="false">
    <p>
        <br>
    </p>
</div>
<div id="F-ivhl01di1" class="moveable" style="left: 54.7781%; top: 14.5398%; width: 13.6364%; height: 8.09399%;">
    <img src="images/cloud.svg" alt="cloud.svg">
</div>
<div id="F-ivhl01di0" class="moveable lock" style="left: 35.0665%; top: 3.47554%; width: 13.4656%; height: 7.47826%; overflow: hidden;">
    <img src="images/cloud.svg" alt="cloud.svg">
</div>
<div id="F-ivhl01di2" class="moveable lock" style="left: 79.5871%; top: 7.73091%; width: 8.45511%; height: 4.86957%;">
    <img src="images/cloud.svg" alt="cloud.svg">
</div>
<div id="F-ivhxvbra0" class="moveable" style="left: 90.4732%; top: 5.42999%; width: 10.6583%; height: 7.5718%;">
    <img src="images/cloud.svg" alt="cloud.svg">
</div>
<div id="F-ivhmczah0" class="moveable" style="left: 0%; top: 19.721%; width: 100%; height: 66.3185%; opacity: 1;" data-options="top:60%;opacity:1;index:1;label:kota;duration:3;ease:null;target:F-ivhmczah0;position:btpn" spellcheck="false">
    <p><img src="images/bg-city.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/c6aecd35-dc7f-4769-bf87-472d4f4fc8fc.svg" alt="bg-city.svg" data-mce-src="https://d33pcikkgoysdr.cloudfront.net/assets/user/herrucules/c6aecd35-dc7f-4769-bf87-472d4f4fc8fc.svg"></p>
</div>
<div id="container-7" class="moveable" style="left: 90%; top: -17.3792%; width: 22.5705%; height: 99.7389%; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="target:container-7;ease:Power3.easeOut;index:0;left:50%;scale:5;label:btpn;duration:2">
    <img src="images/btpn-building.svg" alt="btpn-building.svg">
</div>
<div id="F-ity6hsfg5" class="moveable lock el-selected" style="left: -2.63158%; top: 76%; width: 108.307%; height: 24.0209%; background-color: rgb(122, 122, 122); border-radius: 20px; opacity: 1;" spellcheck="false" data-options="opacity:1;top:100%;index:2;label:jalan;duration:1.7;ease:null;target:F-ity6hsfg5;position:btpn">
    <p>
        <br>
    </p>
</div>
<div id="container-9" class="moveable" style="left: 66.089%; top: 85.8179%; background-color: rgb(88, 104, 117); border-radius: 50%; width: 12.3824%; height: 3.65535%; opacity: 1;" spellcheck="false" data-options="left:-30%;opacity:1;index:4;ease:null;target:container-9;label:bayangan;duration:2;position:staff">
    <p>
        <br>
    </p>
</div>
<div id="container-8" class="moveable" style="transform: matrix(-1, 0, 0, 1, 0, 0); left: 62.4266%; top: 53.8234%; width: 15.5172%; height: 34.7258%; opacity: 1;" data-options="left:-30%;opacity:1;index:3;ease:null;target:container-8;label:staff;duration:2">
    <img src="images/staff-fired.svg" alt="staff-fired.svg">
</div>
<div id="container-a" class="moveable" style="left: 14.0237%; top: 1.88546%; width: 81.0345%; height: 20.3655%; opacity: 1;" spellcheck="false" data-options="opacity:0;index:5;label:judul;duration:1;target:container-a;predefined:Fade in">
    <h1>Penegakan Kode Etik</h1>
    <p>Pelanggaran terhadap Kode Etik</p>
</div>
<div id="container-b" class="moveable action-resume-animation" style="left: 13.7931%; top: 22.6297%; width: 38%; height: 35.5091%; background-color: rgb(239, 129, 35); border-radius: 20px; transform: matrix(1, 0, 0, 1, 0, 0); padding: 2%; opacity: 1;" spellcheck="false" data-options="opacity:0;top:100%;index:6;label:keterangan;duration:0.5;target:container-b;predefined:Fly in from bottom">
    <p><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Penyimpangan, penyalahgunaan, kelalaian, dan/atau pelanggaran Kode Etik dapat dikenakan sanksi baik secara perdata maupun pidana sesuai dengan prosedur dan ketentuan yang berlaku, yang pada tingkat tertentu dapat mengakibatkan Pemutusan Hubungan Kerja dengan atau tanpa peringatan.</span>
        <br>
    </p>
</div>
<div id="container-c" class="moveable action-resume-animation" style="left: 13.6364%; top: 62.4878%; width: 38%; height: 25.3264%; background-color: rgb(239, 129, 35); border-radius: 20px; transform: matrix(1, 0, 0, 1, 0, 0); padding: 2%; opacity: 1;" spellcheck="false" data-options="opacity:0;top:100%;index:7;label:keterangan 0;duration:0.5;target:container-c;predefined:Fly in from bottom">
    <p><span style="color: rgb(255, 255, 255);" data-mce-style="color: #ffffff;">Karyawan yang mengetahui penyimpangan, penyalahgunaan, kelalaian, pelanggaran, dan/atau percobaan pelanggaran Kode Etik namun tidak melaporkannya, dianggap melanggar Kode Etik</span></p>
</div>
<div class="moveabl" id="btn-next" style="width: 5.4019%; height: 9.99335%; left: 92.5667%; top: 86.516%;z-index:2">
  <a href="#/finish" title="Selanjutnya">
    <img src="images/arrow-right.svg" alt="Next" >    
  </a>
</div>
<script>
var tl = new TimelineMax();

interactiveApp.timeline = tl;
tl.addLabel('btpn');
tl.from('#container-7', 2, {
    left: '50%',
    scale: '5',
    ease: 'Power3.easeOut'
}, '+=0');
tl.addLabel('kota');
tl.from('#F-ivhmczah0', 3, {
    top: '60%',
    opacity: '1',
    ease: 'null'
}, 'btpn');
tl.addLabel('jalan');
tl.from('#F-ity6hsfg5', 1.7, {
    opacity: '1',
    top: '100%',
    ease: 'null'
}, 'btpn');
tl.addLabel('staff');
tl.from('#container-8', 2, {
    left: '130%',
    opacity: '1',
    ease: 'null'
}, '+=0');
tl.addLabel('bayangan');
tl.from('#container-9', 2, {
    left: '130%',
    opacity: '1',
    ease: 'null'
}, 'staff');
tl.addLabel('judul');
tl.from('#container-a', 1, {
    opacity: '0'
}, '+=0');
tl.addLabel('keterangan');
tl.from('#container-b', 0.5, {
    opacity: '0',
    top: '100%'
}, '+=0');
tl.addLabel('keterangan 0');
tl.from('#container-c', 0.5, {
    opacity: '0',
    top: '100%'
}, '+=0');
tl.from('#btn-next', 1, {scale:0, ease:Bounce.easeOut}, '+=2');

</script>
