<div id="container-0" class="moveable lock" spellcheck="false" style="width: 100%; height: 100%; background-color: rgb(247, 234, 146); padding: 1%; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="">
    <div>
        <br>
    </div>
</div>
<div id="container-4" class="moveable" style="width: 13.048%; height: 33.3913%; left: 25.0392%; top: 68.5868%; transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;" data-scalex="-1" data-options="opacity:0;left:-100%;index:1;ease:Power3.easeOut;target:container-4;label:staff kursi;duration:1;position:0">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-5" class="moveable" style="width: 12.6959%; height: 47.7807%; left: 28.6442%; top: 49.3595%; opacity: 1;" data-options="top:-100%;opacity:0;index:2;label:staff;duration:0.5;ease:Bounce.easeOut;target:container-5">
    <img src="images/female-sit.svg" alt="female-sit.svg">
</div>
<div id="container-3" class="moveable" style="width: 13.048%; height: 33.3913%; left: 60.433%; top: 68.4236%; transform: matrix(-1, 0, 0, 1, 0, 0); opacity: 1;" data-scalex="-1" data-options="opacity:0;left:100%;index:3;label:kursi bos;duration:1;ease:Power3.easeOut;target:container-3">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-6" class="moveable" style="width: 16.7712%; height: 47.5196%; left: 54.5234%; top: 50.514%; opacity: 1;" data-options="top:-100%;opacity:0;index:4;label:bos 0;duration:0.5;ease:Bounce.easeOut;target:container-6">
    <img src="images/coach-sit.svg" alt="coach-sit.svg">
</div>
<div id="container-2" class="moveable" style="width: 41.0658%; height: 22.9765%; left: 27.7013%; top: 78.8879%;">
    <img src="images/desk5.svg" alt="desk5.svg">
</div>
<div id="container-7" class="moveable" style="left: 14.0237%; top: 1.88546%; width: 81.0345%; height: 20.3655%; opacity: 1;" spellcheck="false" data-options="opacity:0;index:0;label:container-7;duration:1;target:container-7;predefined:Fade in">
    <h1>Penegakan Kode Etik</h1>
    <p><strong>Peran &amp; tanggung jawab</strong></p>
</div>
<a href="#/penegakan-kode-etik-staff" style="text-decoration:none">
    <div id="container-8" class="moveable action-resume-animation el-selected" style="left: 30.4075%; top: 34.6157%; border-radius: 50%; padding: 1%; width: 6.88935%; height: 11.3043%; background-color: rgb(239, 129, 35); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-options="scale:0;index:6;label:? 1;duration:1;target:container-8;predefined:Zoom in;position:4">
        <p style="text-align: center;" data-mce-style="text-align: center;">
            <span style="color: rgb(255, 255, 255); font-size: 200%;" data-mce-style="color: #ffffff; font-size: 200%;">?</span>
            <br>
        </p>
    </div>
</a>
<a href="#/penegakan-kode-etik-manager" style="text-decoration:none">
    <div id="container-9" class="moveable action-resume-animation" style="left: 62.8184%; top: 34.4525%; border-radius: 50%; padding: 1%; width: 6.88935%; height: 11.3043%; background-color: rgb(239, 129, 35); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-options="scale:0;index:5;label:? 0;duration:1;target:container-9;predefined:Zoom in;position:4">
        <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255); font-size: 200%;" data-mce-style="color: #ffffff; font-size: 200%;">?</span>
            <br>
        </p>
    </div>
</a>
<!-- <div class="moveabl" id="btn-next" style="width: 5.4019%; height: 9.99335%; left: 92.5667%; top: 86.516%;z-index:2">
  <a href="#/pelanggaran-kode-etik" title="Selanjutnya">
    <img src="images/arrow-right.svg" alt="Next" >    
  </a>
</div> -->
<script>
var tl = new TimelineMax();

interactiveApp.timeline = tl;
tl.addLabel('container-7');
tl.from('#container-7', 1, {
    opacity: '0'
}, '+=0');
tl.addLabel('staff kursi');
tl.from('#container-4', 1, {
    opacity: '0',
    left: '-100%',
    ease: 'Power3.easeOut'
}, '+=0');
tl.addLabel('staff');
tl.from('#container-5', 0.5, {
    top: '-100%',
    opacity: '0',
    ease: 'Bounce.easeOut'
}, '+=0');
tl.addLabel('kursi bos');
tl.from('#container-3', 1, {
    opacity: '0',
    left: '100%',
    ease: 'Power3.easeOut'
}, '+=0');
tl.addLabel('bos 0');
tl.from('#container-6', 0.5, {
    top: '-100%',
    opacity: '0',
    ease: 'Bounce.easeOut'
}, '+=0');
tl.addLabel('? 0');
tl.from('#container-9', 1, {
    scale: '0'
}, '4');
tl.addLabel('? 1');
tl.from('#container-8', 1, {
    scale: '0'
}, '4');
// tl.from('#btn-next', 1, {scale:0, ease:Bounce.easeOut}, '+=2');
</script>
