<div id="container-0" class="moveable lock" spellcheck="false" style="width: 100%; height: 100%; background-color: rgb(247, 234, 146); padding: 1%; transform: matrix(1, 0, 0, 1, 0, 0);" data-options="">
    <div>
        <br>
    </div>
</div>
<div id="container-4" class="moveable" style="width: 13.048%; height: 33.3913%; left: 25.0392%; top: 68.5868%; transform: matrix(1, 0, 0, 1, 0, 0); opacity: 1;" data-scalex="-1" data-options="">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-5" class="moveable" style="width: 12.6959%; height: 47.7807%; left: 28.6442%; top: 49.3595%; opacity: 1;" data-options="">
    <img src="images/female-sit.svg" alt="female-sit.svg">
</div>
<div id="container-3" class="moveable" style="width: 13.048%; height: 33.3913%; left: 60.433%; top: 68.4236%; transform: matrix(-1, 0, 0, 1, 0, 0); opacity: 1;" data-scalex="-1" data-options="">
    <img src="images/chair.svg" alt="chair.svg">
</div>
<div id="container-6" class="moveable" style="width: 16.7712%; height: 47.5196%; left: 54.5234%; top: 50.514%; opacity: 1;" data-options="">
    <img src="images/coach-sit.svg" alt="coach-sit.svg">
</div>
<div id="container-2" class="moveable" style="width: 41.0658%; height: 22.9765%; left: 27.7013%; top: 78.8879%;">
    <img src="images/desk5.svg" alt="desk5.svg">
</div>
<div id="container-c" class="moveable" style="left: 50%; top: 0%; width: 50%; height: 100%; background-color: rgba(39, 170, 225, 0.85098); padding-top: 13%; padding-right: 3%; opacity: 1;" spellcheck="false" data-options="opacity:0;left:100%;index:0;label:container-c;duration:0.5;target:container-c;predefined:Fly in from right">
    <p>
        <br data-mce-bogus="1">
    </p>
    <div id="container-a" class="moveable el-selected" style="left: 0%; top: 20%; width: 100%; height: 87%; padding-top: 0%; padding-right: 3%; opacity: 1; overflow: auto;" spellcheck="false" data-options="opacity:0;index:1;label:wt bos;duration:0.5;target:container-a;predefined:Fade in;position:-=.1">
        <ul>
            <li style="color:#fff"><span style="color: #fff;" data-mce-style="color: #000000;">Memberikan penjelasan dan meminta anggota tim kerjanya untuk membaca dan memahami Kode Etik.<br><br></span></li>
            <li style="color:#fff"><span style="color: #fff;" data-mce-style="color: #000000;">Memastikan setiap Karyawan di unit kerjanya menjalankan Kode Etik.<br></span>
                <br>
            </li>
            <li style="color:#fff"><span style="color: #fff;" data-mce-style="color: #000000;">Melakukan sosialisasi Kode Etik kepada Karyawan di unit kerjanya.<br></span>
                <br>
            </li>
            <li style="color:#fff"><span style="color: #fff;" data-mce-style="color: #000000;">Berperan aktif dalam membina Karyawan dan menyelesaikan pelanggaran Kode Etik.<br></span>
                <br>
            </li>
            <li style="color:#fff"><span style="color: #fff;" data-mce-style="color: #000000;">Melaporkan dan mengeskalasikan suatu kecurigaan, indikasi, dan/atau kejadian pelanggaran kepada pihak yang berwenang.<br></span>
                <br>
            </li>
            <li style="color:#fff"><span style="color: #fff;" data-mce-style="color: #000000;">Menindaklanjuti setiap pelaporan pelanggaran Kode Etik sesuai dengan prosedur yang ditetapkan.<br></span>
                <br>
            </li>
        </ul>
    </div>
</div>
<div id="container-7" class="moveable" style="left: 14.0237%; top: 1.88546%; width: 81.0345%; height: 20.3655%;" spellcheck="false">
    <h1>Penegakan Kode Etik</h1>
    <p><strong>Peran &amp; tanggung jawab</strong></p>
</div>
<a href="#/penegakan-kode-etik-staff" style="text-decoration:none">
    <div id="container-8" class="moveable action-resume-animation" style="left: 30.4075%; top: 34.6157%; border-radius: 50%; padding: 1%; width: 6.88935%; height: 11.3043%; background-color: rgb(239, 129, 35); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);" spellcheck="false" data-options="">
        <p style="text-align: center;" data-mce-style="text-align: center;"><span style="color: rgb(255, 255, 255); font-size: 200%;" data-mce-style="color: #ffffff; font-size: 200%;">?</span>
            <br>
        </p>
    </div>
</a>
<!-- <div class="moveabl" id="btn-next" style="width: 5.4019%; height: 9.99335%; left: 92.5667%; top: 86.516%;z-index:2">
  <a href="#/pelanggaran-kode-etik" title="Selanjutnya">
    <img src="images/arrow-right.svg" alt="Next" >    
  </a>
</div> -->
<script>
var tl = new TimelineMax();

interactiveApp.timeline = tl;
tl.addLabel('container-c');
tl.from('#container-c', 0.5, {
    opacity: '0',
    left: '100%'
}, '+=0');
tl.addLabel('wt bos');
tl.from('#container-a', 0.5, {
    opacity: '0'
}, '-=.1');

</script>
