<div class="moveabl" id="sunray" style="border-radius: 50%; width: 15.7081%; height: 25.5835%; left: 83.1557%; top: -12.0994%; opacity: 1; background-color: rgba(255, 255, 0, 0.3);">
  <div class="moveabl" id="sun" style="border-radius: 50%; width: 80%; height: 80%; left: 9.75756%; top: 10.4468%; opacity: 1; background-color: rgb(255, 255, 0);"></div>  
</div>

<div class="moveabl" id="clouds" style="width: 100.227%; height: 60.168%; top:-16.6648%">
  <div class="moveabl" style="left: 73.584%; top: 25.5829%; width: 5.9887%; height: 8.00353%;">
    <img src="images/cloud.svg" alt="cloud">
  </div>

  <div class="moveabl" style="width: 16.0805%; height: 12.7547%; left: -5.53849%; top: 33.2778%;">
    <img src="images/cloud.svg" alt="cloud">
  </div>

  <div class="moveabl" style="left: 83.637%; top: 47.5362%; width: 10.3955%; height: 11.2853%;">
    <img src="images/cloud.svg" alt="cloud">
  </div>

  <div class="moveabl" style="left: 22.8425%; top: 15.7328%; width: 9.51302%; height: 11.3208%;">
    <img src="images/cloud.svg" alt="cloud">
  </div>
</div>


<div class="moveabl" id="city" style="left: -0.470696%; top: 22.9729%; width: 100.566%; height: 60.3302%;">
  <img src="images/bg-city.svg" alt="City">
</div>


<div class="moveabl" id="building" style="left: -33.0851%; top: -13.47639%;width:23%">
  <img src="images/btpn-building.svg" alt="Building">
</div>

<div id="officebg" style="background:#EAC296;width:100%;height:100%"></div>

<div id="bus-station" class="moveabl" style="width: 69.2758%; height: 66.0492%; left: 17.0958%; top: 14.3151%;"><img src="images/bus-station.svg" alt="bus station"></div>

<div id="road" class="moveabl" style="width:100%;height:20%;top:80.2797%;background-color:#738699"></div>
<div id="shadow1" class="moveabl" style="width: 12.3746%; height: 5.76035%; left: 25.2133%; top: 86.0186%; background-color: rgb(88, 104, 117); border-radius: 50%;"></div>
<div id="pembicaraan" class="moveabl" style="left: 7.69422%;top: 40.7141%;width: 21.6213%;height: 14.438%;opacity: 1;background: #ccc;border-radius: 30px;padding: 2%;">
  <p>Halo, ya menurut saya data A harus ... blabla ...</p>
</div>
<div id="staff-male" class="moveabl" style="left: 25.6643%; top: 44.0338%; width: 11.5026%; height: 45.5402%;"><img src="images/male-staff-phone.svg" alt="Staf telepon"></div>
<div id="staff-female" class="moveabl" style="left: 43.32%; top: 37.5717%; width: 10.9057%; height: 41.517%;"><img src="images/female-sit.svg" alt="Penumpang 1"></div>
<div id="passenger" class="moveabl" style="left: 59.607%; top: 35.373%; width: 13.5404%; height: 45.3094%;"><img src="images/customer1.svg" alt="Penumpang 2"></div>

<div id="coach" class="moveabl" style="left: 58.2627%; top: 35.7052%; width: 15.1271%; height: 44.937%;"><img src="images/coach.svg" alt="Coach"></div>
<div id="coach2" class="moveabl" style="left: 39.2627%; top: 35.7052%; width: 15.1271%; height: 44.937%;"><img src="images/coach.svg" alt="Coach"></div>

<div id="title" class="moveabl" style="left: 14.0237%; top: 1.88546%; ">
    <h1 >Pengelolaan &amp; Pengamanan Informasi</h1>
</div>

<div id="pernyataan1" class="moveabl" style="left: 12.355%; top: 11.8094%; width: 62.6202%; height: 14.2725%; opacity: 1; background: rgb(239, 129, 35); border-radius: 30px; padding: 2%;">
 <p style="color:#fff">
Seluruh Informasi milik perusahaan berstatus proprietary right (hak kepemilikan perusahaan yang tidak bisa dimiliki pihak lain tanpa izin).</p>
</div>

<div id="pertanyaan" class="moveabl" style="left: 3.98924%; top: 28.6405%; width: 24.5517%; height: 29.2006%; opacity: 1; background: rgb(239, 129, 35); border-radius: 30px; padding: 2%;">
  <p style="color:#fff">Saat berada di area publik, karyawan menerima telepon dari rekan kerja dan berdiskusi tentang data perusahaan, apakah hal tersebut diperbolehkan?
</p>
</div>

<div id="jawaban1" class="moveabl" style="left: 72.5084%; top: 16.5447%; width: 28.2147%; height: 32.036%; opacity: 1; background: rgb(125, 106, 86); border-radius: 30px; padding: 2%; display: block;">
  <p style="color:#fff">
Karyawan tidak diperbolehkan mendiskusikan hal-hal terkait informasi perusahaan di area publik seperti di dalam  angkutan umum, lift, dsb dan memastikan informasi berada di orang yang tepat. 
  </p>
</div>

<div id="jawaban2" class="moveabl" style="left: 52.0001%; top: 49.5831%; width: 37.6145%; height: 25.6842%; opacity: 1; background: rgb(125, 106, 86); border-radius: 30px; padding: 2%;">
  <p style="color:#fff">
Setiap Karyawan bertanggung jawab menjaga kerahasiaan Informasi sesuai ketentuan yang berlaku. Karyawan tidak berhak dan tidak diperkenankan menyebarluaskan Informasi perusahaan dan nasabah kepada pihak lain.
</p>
</div>

<!-- <div class="moveabl" id="btn-next" style="width: 5.4019%; height: 9.99335%; left: 92.5667%; top: 86.516%;">
  <a href="#/hubungan-dengan-nasabah-dan-pemangku-kepentingan-1" title="Selanjutnya">
    <img src="images/arrow-right.svg" alt="Next" >    
  </a>
</div> -->

<div id="cursor1" class="moveabl" style="width: 5.3125%; height: 9.68696%; left: 13.7706%; top: 51.798%; opacity: 1;">
    <img src="images/handcursor.png" alt="click">  
</div>
<div id="cursor2" class="moveabl" style="width: 5.3125%; height: 9.68696%; left: 81.4026%; top: 41.987%; opacity: 1;">
    <img src="images/handcursor.png" alt="click">  
</div>


<script>
  var tl = new TimelineMax(); 

  tl.set('#pertanyaan, #btn-next, #coach, #coach2, #jawaban2, #jawaban1, #cursor2', {display:'none'});
  tl.to('#officebg', .5, {opacity:0});

  tl.from('#building', .5, {scale:5}, 'road');
  tl.from('#road', .5, {top:'100%'}, 'road');
  tl.from('#city', .7, {top:'45.9729%'}, 'road');
  // tl.from('#clouds', 1, {top:'0%'}, 'road');
  // tl.from('#sunray', 1.2, {top:'16.4722%'}, 'road');

  tl.from('#staff-male, #shadow1', 2, {left:'100%'}, 'waiting');
  tl.from('#staff-female, #passenger', 2, {left:'130%'}, 'waiting');
  tl.from('#building', 1, {left:'41.4443%'}, 'waiting');
  tl.from('#bus-station', 2, {left:'100%'}, 'waiting');
  
  tl.from('#title', .5, {opacity:0});
  tl.from('#pernyataan1', .5, {opacity:0});

  tl.from('#pembicaraan', .5, {scale:0}, "+=2");
  tl.set('#staff-female, #passenger', {scaleX:-1});

  tl.from('#cursor1', 1, {opacity:0, left:'30%', top:'30%'}, '+=1');

  $('#pembicaraan').click(function() {

    var tl = new TimelineMax();
    tl.set('#staff-male', {scaleX:-1});
    tl.set('#cursor1, #pembicaraan', {display:'none'});
    tl.set('#pertanyaan, #cursor2, #coach, #jawaban1', {display:'block'});

    tl.to('#passenger', .2, {opacity:0,repeat:2, yoyo:true});
    tl.from('#coach', .2, {opacity:0, ease:Bounce.easeOut}, 'coach');
    tl.from('#jawaban1', .5, {opacity:0, left:'50%'});
    tl.from('#cursor2', 1, {opacity:0, left:'30%', top:'30%'}, '+=2');    

  });

  $('#jawaban1').click(function() {

    var tl = new TimelineMax();
    tl.set('#cursor2', {display:'none'});
    tl.set('#jawaban2, #btn-next, #coach2', {display:'block'});

    tl.to('#staff-female', .2, {opacity:0,repeat:2, yoyo:true});
    tl.from('#coach2', .2, {opacity:0, ease:Bounce.easeOut}, 'coach');
    tl.from('#jawaban2', .5, {opacity:0, left:'80%'});

    // tl.from('#btn-next', 1, {scale:0, ease:Bounce.easeOut}, '+=3');

  });

</script>